﻿/*body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
*/
.form-container {
    display: block;
    /*width: 500px;*/
    margin: 10px auto;
    text-align: left;    
    align-content:center;
}
/*#mainbox {
    border: 3px solid #2F96EF;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    transform:rotateY(360deg);
}*/

lable {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: #aaa;
}

input[type='password'] {
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    display: inline-block;
    border: 3px solid #2F96EF;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
    transition: .2s;
}

    input[type='password']:focus {
        outline: none;
        -moz-outline: none;
        -webkit-outline: none;
    }

lable:before {
    content: "\f070";
    color: #aaa;
    font-size: 22px;
    font-family: FontAwesome;
    position: absolute;
    right: 25px;
    top: 44px;
}

.progress-bar_wrap {
    width: 200px;
    height: 5px;
    background: #F6F6FA;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
}

.form-1 .progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 33.33%;
    float: left;
    visibility: hidden;
    transition: background-color .2s, visisility .1s;
}

.form-1 .active {
    visibility: visible;
}

.progress-bar_item-1 {
}

.progress-bar_item-2 {
}

.progress-bar_item-3 {
}

.progress-bar_text {
    display: inline-block;
    color: #aaa;
    margin-left: 5px;
    transition: .2s;
}

.form-2 .progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 32.5%;
    margin-right: .8%;
    border-radius: 5px;
    float: left;
    transition: background-color .2s, visisility .1s;
}

.form-2 .progress-bar_item-1.active {
    background-color: #FF4B47;
}

.form-2 .progress-bar_item-2.active {
    background-color: #F9AE35;
}

.form-2 .progress-bar_item-3.active {
    background-color: #2DAF7D;
}

.form-3 .progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 32.5%;
    margin-right: .8%;
    border-radius: 5px;
    float: left;
    transition: background-color .2s, visisility .1s;
}

.form-3 .progress-bar_item-1.active {
    background-color: #FF4B47;
}

.form-3 .progress-bar_item-2.active {
    background-color: #F9AE35;
}

.form-3 .progress-bar_item-3.active {
    background-color: #2DAF7D;
}
