﻿@model PSPCL_Web_Module.Models.Area.Account.LoginModel
@{
    ViewBag.Title = "Account";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MIS Dashbaord</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link type="text/css" href="~/MaterialDesign/css/animation.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/MaterialDesign/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaterialDesign/vendor/bootstrap/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaterialDesign/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaterialDesign/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaterialDesign/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaterialDesign/vendor/select2/select2.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MaterialDesign/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/MaterialDesign/css/main.css">
    <!--===============================================================================================-->
    <style>
        .loaderouter {
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.1);
            margin: 0 auto;
            right: 0;
            z-index: 99999;
            top: 0;
            left: 0;
            bottom: 0;
            vertical-align: middle;
            overflow: hidden;
        }

        .loaderCustom {
            width: 65px;
            height: 65px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="loaderouter" id="divProLoader" style="display:none;">
        <div class="loaderCustom">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    @*<img src="~/MaterialDesign/images/img-01.png" alt="IMG">*@
                    <img src="~/MaterialDesign/images/icons/logo_ipay_small.png" alt="IMG">
                    <img src="~/MaterialDesign/images/Punjab-State-Power-Corporation-Limited-PSPCL-logo.jpg" alt="IMG">
                </div>
                @*@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
        {
            @Html.AntiForgeryToken()
        }*@

                @using (Ajax.BeginForm("Account", "Account", new AjaxOptions { HttpMethod = FormMethod.Post.ToString() }))
                {
                    <form class="login100-form validate-form">
                        <span class="login100-form-title">Login</span>
                        @*<div class="wrap-input100 validate-input" data-validate="Valid login id is required">*@
                        <div class="wrap-input100 validate-input" data-validate="Valid login id is required">
                            <input class="input100" id="username" type="text" name="Username" placeholder="Username" onchange="clearError('usernameErr')">
                            @*@Html.TextBoxFor(x=>x.Username)*@
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                @*<i class="fa fa-envelope" aria-hidden="true"></i>*@
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                            <small id="usernameErr" style="display:none;"></small>
                        </div>

                        @*<div class="wrap-input100 validate-input" data-validate="Password is required">*@
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" id="password" type="password" name="Password" placeholder="Password" onchange="clearError('passwordErr')">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                            <small id="passwordErr" style="display:none;"></small>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" id="btnLogin">Login</button>
                            <small id="loginSuccess" style="display:none;"></small>
                        </div>

                        <div class="text-center p-t-12">
                            <span class="txt1">
                                Forgot
                            </span>
                            <a class="txt2" href="#">
                                Username / Password?
                            </a>
                        </div>
                        @Html.AntiForgeryToken()
                    </form>
                }                
                @*<div class="text-center p-t-136">
            <a class="txt2" href="#">
                Create your Account
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
        </div>*@

            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/MaterialDesign/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MaterialDesign/vendor/bootstrap/js/popper.js"></script>
    <script src="~/MaterialDesign/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MaterialDesign/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MaterialDesign/vendor/tilt/tilt.jquery.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/MaterialDesign/js/mdb.min.js"></script>
    <script src="~/MaterialDesign/js/jquery.dataTables.min.js"></script>
    <script src="~/MaterialDesign/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/MaterialDesign/js/main.js"></script>
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["LoginErrors"])))
    {
        @:<script type="text/javascript">swal({ title: "", text: "@ViewData["LoginErrors"].ToString()", type: "warning"})</script>
    }
    <script type="text/javascript">
        var BASE_URL = window.location.origin;
        function OnBeginFunc(e) {
            e.preventDefault();
            debugger;
            var username = $("#username").val();
            var password = $("#password").val();
            console.log(username, password);
            if (username == "") {
                $("#usernameErr").text("Please Enter Username !!!");
                $("#usernameErr").css("display", "block");
                $("#usernameErr").css("color", "red");
                return;
            }
            else if (password == "") {
                $("#passwordErr").text("Please Enter Password !!!");
                $("#passwordErr").css("display", "block");
                $("#passwordErr").css("color", "red");
                return;
            }
            else {
                $("#btnLogin").prop("disabled", true);
                var loader = $('#divProLoader');
                loader.show();
                $("#btnLogin").click();
            }
        }

        function clearError(errIdName) {
            $('#' + errIdName).text(" ");
            $('#' + errIdName).css("display", "none");
        }


        $('#btnLogin').click(function () {
            debugger;
            var username = $('#username').val();
            var password = $('#password').val();
            console.log(username, password);
            $.ajax({
                url: BASE_URL + "/Account/Account/Account",
                type: "POST",
                data: { __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val(), Username: username, Password: password },
                dataType: 'JSON',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (response) {
                    if (response.isSuccess) {
                        $('#loginSuccess').val(response);
                        $('#loginSuccess').css("display", "block");
                        $('#loginSuccess').css("color", "green");
                    } else {
                        $('#loginSuccess').val(response);
                        $('#loginSuccess').css("display", "block");
                        $('#loginSuccess').css("color", "red");
                    }
                },
                failure: function (response) {
                    $('#loginSuccess').val(response);
                    $('#loginSuccess').css("display", "block");
                    $('#loginSuccess').css("color", "red");
                    console.log(response);
                }
            });
        });
    </script>


    @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Prashant Kumar Snehi</p>
        </footer>*@
</body>
</html>


