﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using PSPCL_Web_Module.Utilities

@{

    if (((ClaimsIdentity)User.Identity).FindFirstValue(ClaimTypes.Role) == RoleType.User)
    {
        Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }

}

<style>
    .loaderouter {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        right: 0;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 0;
        vertical-align: middle;
        overflow: hidden;
    }

    .loaderCustom {
        width: 65px;
        height: 65px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }
</style>
<link href="~/MaterialDesign/css/changepassword.css" rel="stylesheet" />

<div class="loaderouter" id="divProLoader" style="display:none;">
    <div class="loaderCustom">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3" id="mainbox">
        <div class="card">
            <h4 style="padding:30px;">Change Password</h4>
            <hr style="margin-bottom:0px;margin-top:0px;" />
            <div class="card-body">
                <div class="form-container">
                    <form class="form-1">
                        @*<label for="oldPassword">&nbsp;Old Password*@
                        @*<input class="input-1" type="password" id="oldPassword" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" onchange="clearError('oldPasswordErr')">*@
                        <input class="input-1 form-control" type="password" id="oldPassword" placeholder="Old Password" onchange="clearError('oldPasswordErr')">
                        @*</label>*@
                        <small class="progress-bar_text" id="oldPasswordErr" style="display:none;">Password is blank</small>
                        <div class="progress-bar_wrap">
                            <div class="progress-bar_item progress-bar_item-1"></div>
                            <div class="progress-bar_item progress-bar_item-2"></div>
                            <div class="progress-bar_item progress-bar_item-3"></div>
                        </div>
                        <span class="progress-bar_text">Password is blank</span>
                    </form>
                    <form class="form-2">
                        @*<label for="newPassword" class="">&nbsp;New Password*@
                        <input class="input-2 form-control" type="password" id="newPassword" placeholder="New Password" onchange="clearError('newPasswordErr')">
                        @*</label>*@
                        <small id="newPasswordErr" style="display:none;"></small>
                        <div class="progress-bar_wrap">
                            <div class="progress-bar_item progress-bar_item-1"></div>
                            <div class="progress-bar_item progress-bar_item-2"></div>
                            <div class="progress-bar_item progress-bar_item-3"></div>
                        </div>
                        <span class="progress-bar_text">Password is blank</span>
                    </form>
                    <form class="form-3">
                        @*<label for="confirmPassword" class="">&nbsp;Confirm Password*@
                        <input class="input-3 form-control" type="password" id="confirmPassword" placeholder="Confirm Password" onchange="clearError('confirmPasswordErr')">
                        @*</label>*@
                        <small id="confirmPasswordErr" style="display:none;"></small>
                        <div class="progress-bar_wrap">
                            <div class="progress-bar_item progress-bar_item-1"></div>
                            <div class="progress-bar_item progress-bar_item-2"></div>
                            <div class="progress-bar_item progress-bar_item-3"></div>
                        </div>
                        <span class="progress-bar_text">Password is blank</span>
                    </form>
                </div>
            </div>
            <hr style="margin-bottom:0px;margin-top:0px;" />
            <button type="button" class="btn btn-danger waves-effect waves-light pull-center" id="btnChangePassword">Change Password</button>
        </div>
    </div>
    @*<div class="col-lg-9">
            <!--Carousel Wrapper-->
            <div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#video-carousel-example" data-slide-to="1"></li>
                    <li data-target="#video-carousel-example" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <video class="video-fluid" autoplay loop muted>
                            <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video class="video-fluid" autoplay loop muted>
                            <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video class="video-fluid" autoplay loop muted>
                            <source src="https://mdbootstrap.com/img/video/Agua-natural.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--Carousel Wrapper-->
        </div>*@
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
@*<script src="~/MaterialDesign/js/popper.min.js"></script>*@
<!-- Bootstrap core JavaScript -->
@*<script src="~/MaterialDesign/js/bootstrap.js"></script>*@
<!-- MDB core JavaScript -->
@*<script src="~/MaterialDesign/js/mdb.min.js"></script>*@
<script type="text/javascript" src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="~/MaterialDesign/js/changepassword.js"></script>
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
<script type="text/javascript">
    var BASE_URL = window.location.origin;
    $('.carousel').carousel({
        interval: 20000,
        touch: true
    });
    $("#btnChangePassword").click(function () {

        var oldPassword = $("#oldPassword").val();
        var newPassword = $("#newPassword").val();
        var confirmPassword = $("#confirmPassword").val();

        if (oldPassword == "") {
            $("#oldPasswordErr").text("Please Enter Old Password !!!");
            $("#oldPasswordErr").css("display", "block");
            $("#oldPasswordErr").css("color", "red");
            return;
        }
        else if (newPassword == "") {
            $("#newPasswordErr").text("Please Enter New Password !!!");
            $("#newPasswordErr").css("display", "block");
            $("#newPasswordErr").css("color", "red");
            return;
        }
        else if (confirmPassword == "") {
            $("#confirmPasswordErr").text("Please Enter Confirm Password !!!");
            $("#confirmPasswordErr").css("display", "block");
            $("#confirmPasswordErr").css("color", "red");
            return;
        }
        else if (confirmPassword != newPassword) {
            $("#confirmPasswordErr").text("Confirm Password not matched !!!");
            $("#confirmPasswordErr").css("display", "block");
            $("#confirmPasswordErr").css("color", "red");
            return;
        }
        else {
            var loader = $('#divProLoader');
            $("#btnChangePassword").prop("disabled", true);
            loader.show();

            var data = {
                OldPassword: oldPassword,
                NewPassword: newPassword
            };

            $.ajax({
                url: BASE_URL + "/Acount/Account/ChangePassword",
                type: "POST",
                data: data,
                success: function (response) {
                    loader.hide();
                    if (response.IsSuccess) {
                        swal({
                            title: "Thanks !",
                            text: response.Message,
                            type: "success"
                        }).then(result => {
                            if (result.value) {
                                window.location = BASE_URL + "/Account/Account/ChangePasswordView";
                            }
                        });
                    }
                    else {
                        swal({
                            title: "Warning !",
                            text: response.Message,
                            type: "error"
                        });
                        $("#btnChangePassword").prop("disabled", false);
                    }
                },
                failure: function (response) {
                    loader.hide();
                    $("#btnChangePassword").prop("disabled", false);
                    console.log(response);
                }
            });
        }
    });

    function clearError(errIdName) {
        $('#' + errIdName).text(" ");
        $('#' + errIdName).css("display", "none");
    }

</script>



