﻿@{
    ViewBag.Title = "Add Site";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<style>
    .loaderouter {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        right: 0;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 0;
        vertical-align: middle;
        overflow: hidden;
    }

    .loaderCustom {
        width: 65px;
        height: 65px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }
</style>
<div class="loaderouter" id="divProLoader" style="display:none;">
    <div class="loaderCustom">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="card">
    <h4 style="padding:20px;">Add Site</h4>
    <hr style="margin-bottom:0px; margin-top:0px;" />
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="md-form">
                    <i class="fas fa-university prefix grey-text" aria-hidden="true"></i>
                    <input type="text" id="SiteID" class="form-control" onchange="clearError('SiteIDErr')">
                    <label for="SiteID" class="">Site Id</label>
                    <small id="SiteIDErr" style="display:none;"></small>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="md-form">
                    <i class="fas fa-desktop prefix grey-text" aria-hidden="true"></i>
                    <input type="text" id="MachineID" class="form-control" onchange="clearError('MachineIDErr')">
                    <label for="MachineID" class="">Kiosk Id</label>
                    <small id="MachineIDErr" style="display:none;"></small>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="md-form">
                    <span class="prefix grey-text">#</span>
                    <input type="text" id="SerialNo" class="form-control" onchange="clearError('SerialNoErr')">
                    <label for="SerialNo" class="">Serial Number</label>
                    <small id="SerialNoErr" style="display:none;"></small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="md-form">
                    <i class="fas fa-map-marker-alt prefix grey-text" aria-hidden="true"></i>
                    <input type="text" id="City" class="form-control" onchange="clearError('CityErr')">
                    <label for="City" class="">City</label>
                    <small id="CityErr" style="display:none;"></small>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="md-form">
                    <i class="fas fa-map-marker-alt prefix grey-text" aria-hidden="true"></i>
                    <input type="text" id="Distt" class="form-control" onchange="clearError('DisttErr')">
                    <label for="Distt" class="">District</label>
                    <small id="DisttErr" style="display:none;"></small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="md-form">
                    <i class="fas fa-location-arrow prefix grey-text"></i>
                    <input type="text" id="KioskAddress" class="form-control" onchange="clearError('KioskAddressErr')">
                    <label for="KioskAddress" class="">KioskAddress</label>
                    <small id="KioskAddressErr" style="display:none;"></small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btnAddSite">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Add Site</h5>
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="SiteID">Site Id</label>
                            <input type="text" class="form-control" id="SiteID" placeholder="Site Id" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                            <div class="invalid-tooltip">
                                Please enter TSI Site Id
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="MachineID">MachineID</label>
                            <input type="text" class="form-control" id="MachineID" placeholder="Machine ID" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                            <div class="invalid-tooltip">
                                Please enter Machine ID
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="serialNo">Kiosk Serial Number</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="serialNo" name="SerialNo" placeholder="Kiosk Serial Number" aria-describedby="inputGroupPrepend" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                                <div class="invalid-tooltip">
                                    Please Enter SerialNo of Kiosk
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="LiveDate">Live Date</label>
                            <div class="input-group">
                                <input placeholder="" type="date" class="form-control datepicker" id="LiveDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                                <div class="invalid-tooltip">
                                    Please Enter Deployment date of Kiosk
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="City">Division</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="City" placeholder="Division" aria-describedby="inputGroupPrepend" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                                <div class="invalid-tooltip">
                                    Please enter Division
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Distt">City or District</label>
                            <input type="text" class="form-control" id="Distt" placeholder="City or District" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                            <div class="invalid-tooltip">
                                Please enter District
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="City">Mode</label>
                            <div class="input-group">
                                <select id="Mode" name="Mode" class="form-control colorful-select dropdown-default">
                                    <option value="SAP" selected>SAP</option>
                                    <option value="NONSap">Non SAP</option>
                                    <option value="Both">Both</option>
                                </select>
                                @*<input type="text" class="form-control" id="Mode" placeholder="Operating Mode" aria-describedby="inputGroupPrepend" required>*@
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                                <div class="invalid-tooltip">
                                    Please enter Operating Mode (SAP/ NonSAP/ Both)
                                </div>
                            </div>
                            @*<small style="color:red">* SAP/ NonSAP/ Both</small>*@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="KioskAddress">Complete Address</label>
                            <input type="text" class="form-control" id="KioskAddress" placeholder="Kiosk Address" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide Kiosk Address.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" id="btnAddSite">Submit form</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
@*<script src="~/MaterialDesign/js/popper.min.js"></script>*@
<!-- Bootstrap core JavaScript -->
@*<script src="~/MaterialDesign/js/bootstrap.js"></script>*@
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
<script type="text/javascript" src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    var BASE_URL = window.location.origin;
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $("#btnAddSite").click(function () {
        debugger
        var SiteID = $("#SiteID").val();
        var MachineID = $("#MachineID").val();
        var Mode = $("#Mode").val();        
        var City = $("#City").val();
        var Distt = $("#Distt").val();
        var KioskAddress = $("#KioskAddress").val();
        var SerialNo = $("#serialNo").val();
        var LiveDate = $("#LiveDate").val()

        if (SiteID == "") {
            $("#SiteIDErr").text("Please Enter TSI Site Id !!!");
            $("#SiteIDErr").css("display", "block");
            $("#SiteIDErr").css("color", "red");
            return;
        }
        else if (MachineID == "") {
            $("#MachineIDErr").text("Please Enter Kiosk Id !!!");
            $("#MachineIDErr").css("display", "block");
            $("#MachineIDErr").css("color", "red");
            return;
        }
        else if (SerialNo == "") {
            $("#SerialNoErr").text("Please Enter Serial Number !!!");
            $("#SerialNoErr").css("display", "block");
            $("#SerialNoErr").css("color", "red");
            return;
        }
        else if (City == "") {
            $("#CityErr").text("Please Enter Location !!!");
            $("#CityErr").css("display", "block");
            $("#CityErr").css("color", "red");
            return;
        }
        else if (Distt == "") {
            $("#DisttErr").text("Please Enter Division !!!");
            $("#DisttErr").css("display", "block");
            $("#DisttErr").css("color", "red");
            return;
        }
        else if (KioskAddress == "") {
            $("#KioskAddressErr").text("Please Enter Address 1 !!!");
            $("#KioskAddressErr").css("display", "block");
            $("#KioskAddressErr").css("color", "red");
            return;
        }
        else {
            var loader = $('#divProLoader');
            $("#btnAddSite").prop("disabled", true);
            loader.show();

            var data = {
                SiteID: SiteID,
                MachineID: MachineID,
                Mode: Mode,
                SerialNo: SerialNo,
                City: City,
                Distt: Distt,                
                LiveDate: LiveDate,
                KioskAddress: KioskAddress                
            };

            console.log(data);
            $.ajax({
                url: BASE_URL + "/Admin/Admin/AddSite",
                type: "POST",
                data: data,
                success: function (response) {
                    loader.hide();
                    if (response.IsSuccess) {
                        swal({
                            title: "Thanks !",
                            text: response.Message,
                            type: "success"
                        }).then(result => {
                            if (result.value) {
                                window.location = BASE_URL + "/Admin/Admin/AddSiteView";
                            }
                        });
                    }
                    else {
                        swal({
                            title: "Warning !",
                            text: response.Message,
                            type: "error"
                        });
                        $("#btnAddSite").prop("disabled", false);
                    }
                },
                failure: function (response) {
                    loader.hide();
                    $("#btnAddSite").prop("disabled", false);
                    console.log(response);
                }
            });
        }
    });

    function clearError(errIdName) {
        $('#' + errIdName).text(" ");
        $('#' + errIdName).css("display", "none");
    }

</script>