﻿@{
    ViewBag.Title = "Add User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<style>
    .loaderouter {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        right: 0;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 0;
        vertical-align: middle;
        overflow: hidden;
    }

    .loaderCustom {
        width: 65px;
        height: 65px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }
</style>
<div class="loaderouter" id="divProLoader" style="display:none;">
    <div class="loaderCustom">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Add User</h5>
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="firstname">First name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter first Name
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="lastname">Last name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter last name.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="username">Username</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="username" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="email">email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                </div>
                                <input type="email" class="form-control" id="email" placeholder="example@domain.com" aria-describedby="inputGroupPrepend" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter email.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="phone">Contact Number</label>
                            <input type="number" class="form-control" id="phone" placeholder="Phone Number" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide contact number.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <input type="text" class="form-control" id="state" placeholder="State" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="pincode">Zip</label>
                            <input type="text" class="form-control" id="pincode" placeholder="Pincode" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="userRole" class="">Select Role</label>
                            <select name="select" id="userRole" class="form-control">
                                <option value="" disabled selected>Select Role</option>
                                @*<option value="ADMIN">Admin</option>*@
                                <option value="SUB ADMIN">Sub-Admin</option>
                                <option value="USER">User</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" id="btnAddUser">Submit form</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
@*<script src="~/MaterialDesign/js/popper.min.js"></script>*@
<!-- Bootstrap core JavaScript -->
@*<script src="~/MaterialDesign/js/bootstrap.js"></script>*@
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
<script type="text/javascript" src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    var BASE_URL = window.location.origin;
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    //$(document).ready(function () {
    //    $('.mdb-select-role').materialSelect();
    //});

    $("#btnAddUser").click(function () {

        var username = $("#username").val();
        var name = $("#name").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var userRole = $("#userRole").val();
        var location = $("#location").val();

        if (username == "") {
            $("#usernameErr").text("Please Enter Username for Login !!!");
            $("#usernameErr").css("display", "block");
            $("#usernameErr").css("color", "red");
            return;
        }
        else if (name == "") {
            $("#nameErr").text("Please Enter Name !!!");
            $("#nameErr").css("display", "block");
            $("#nameErr").css("color", "red");
            return;
        }
        else if (email == "") {
            $("#emailErr").text("Please Enter Email Id !!!");
            $("#emailErr").css("display", "block");
            $("#emailErr").css("color", "red");
            return;
        }
        else if (phone == "") {
            $("#phoneErr").text("Please Enter Phone Number !!!");
            $("#phoneErr").css("display", "block");
            $("#phoneErr").css("color", "red");
            return;
        }
        else if (userRole == null) {
            $("#userRoleErr").text("Please Select Role !!!");
            $("#userRoleErr").css("display", "block");
            $("#userRoleErr").css("color", "red");
            return;
        }
        else if (location == "") {
            $("#locationErr").text("Please Enter Location !!!");
            $("#locationErr").css("display", "block");
            $("#locationErr").css("color", "red");
            return;
        }
        else {
            var loader = $('#divProLoader');
            $("#btnAddUser").prop("disabled", true);
            loader.show();

            var data = {
                Username: username,
                Name: name,
                Email: email,
                Phone: phone,
                UserRole: userRole,
                Location: location
            };

            $.ajax({
                url: BASE_URL + "/Admin/Admin/AddUser",
                type: "POST",
                data: data,
                success: function (response) {
                    loader.hide();
                    debugger
                    if (response.IsSuccess) {
                        swal({
                            title: "Thanks !",
                            text: response.Message,
                            type: "success"
                        }).then(result => {
                            if (result.value) {
                                window.location = BASE_URL + "/Admin/Admin/AddUserView";
                            }
                        });
                    }
                    else {
                        swal({
                            title: "Warning !",
                            text: response.Message,
                            type: "error"
                        });
                        $("#btnAddUser").prop("disabled", false);
                    }
                },
                failure: function (response) {
                    loader.hide();
                    $("#btnAddUser").prop("disabled", false);
                    console.log(response);
                }
            });
        }
    });

    function clearError(errIdName) {
        $('#' + errIdName).text(" ");
        $('#' + errIdName).css("display", "none");
    }
</script>