﻿@{
    ViewBag.Title = "Batch Close Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link type="text/css" href="~/Content/JQueryDataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<style>
    .loaderouter {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        right: 0;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 0;
        vertical-align: middle;
        overflow: hidden;
    }

    .loaderCustom {
        width: 65px;
        height: 65px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }
</style>
<div class="loaderouter" id="divProLoader" style="display:none;">
    <div class="loaderCustom">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mb-5" style="margin-bottom:100px !important;">
    <div class="card">
        <h2 style="padding:20px;"><i class="header-icon lnr-apartment icon-gradient bg-love-kiss">Batch Close Details</i></h2>
        @*<h5 style="padding:10px;">Batch Close Details</h5>*@
        <hr style="margin-bottom:0px;margin-top:0px;" />
        <div class="card-body">
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-lg-4">
                    <div class="md-form">
                        <input placeholder="" type="date" id="fromDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                        <label for="fromDate">From : &nbsp;&nbsp;</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="md-form">
                        <input placeholder="" type="date" id="toDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                        <label for="toDate" class="active">To : &nbsp;&nbsp;</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-primary waves-effect waves-light btn-lg" style="width:90%;" id="btnSearch">Search</button>
                </div>
            </div>
            <hr />
            <div class="col-lg-12" id="batchCloseData"></div>
        </div>
    </div>
</section>

<script src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
<script type="text/javascript" src="~/Content/JQueryDataTables/js/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/JQueryDataTables/js/pdfmake.min.js"></script>
<script type="text/javascript" src="~/Content/JQueryDataTables/js/vfs_fonts.js"></script>
<script type="text/javascript">
    var BASE_URL = window.location.origin;
    //$('.datepicker').pickadate({
    //    format: 'dd-mm-yyyy'
    //});

    $(document).ready(function () {
        //$('.mdb-select').materialSelect();
        var ledgerData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        batchCloseData(ledgerData);
    });

    $("#btnSearch").click(function () {
        debugger
        var ledgerData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        batchCloseData(ledgerData);
    });


    function batchCloseData(data) {
        $("#btnSearch").prop("disabled", true);
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/BatchCloseData",
            type: "POST",
            data: data,
            success: function (response) {
                loader.hide();
                $("#btnSearch").prop("disabled", false);
                $("#batchCloseData").html(response);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                loader.hide();
                console.log(response);
            }
        });
    }

</script>