﻿@model List<PSPCL_Web_Module.Models.Area.Admin.BatchCloseReview>
@{
    ViewBag.Title = "BatchCloseReview";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link type="text/css" href="~/Content/JQueryDataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<style>
    .dataTables_scroll {
        padding-top: 10px !important;
        overflow: auto;
    }
</style>
<section class="mb-5" style="margin-bottom:100px !important;">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        @*<h2>BatchCloseReview</h2>*@
                        <h2 style="padding:20px;"><i class="header-icon lnr-apartment icon-gradient bg-love-kiss">Batch Close Review</i></h2>
                    </div>
                </div>
            </div>            
            <div class="card-body">
                <div class="col-lg-12">                                        
                    <div class="row">
                        <div class="col-md-12" style="overflow:auto;">
                            @if (Model.Count > 0)
                            {
                                <table id="batchCloseReview" class="table table-striped table-hover table-bordered table-responsive-xs" cellspacing="0" width="100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th nowrap>Sr.No.</th>
                                            <th nowrap>Terminal_Id</th>
                                            <th nowrap>Location</th>
                                            <th nowrap>Division</th>
                                            <th nowrap>Address</th>
                                            <th nowrap>Batch_Number</th>
                                            <th nowrap>Start_Date</th>
                                            <th nowrap>End Date</th>
                                            <th nowrap>Total_Receipt</th>
                                            <th nowrap>Total_Amount</th>
                                            <th nowrap>Pending_Days</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td nowrap>@i</td>
                                                <td nowrap>@item.Terminal_Id</td>
                                                <td nowrap>@item.Location</td>
                                                <td nowrap>@item.Division</td>
                                                <td nowrap>@item.Address</td>
                                                <td nowrap>@item.Last_batch</td>
                                                <td nowrap>@item.STARTDATE</td>
                                                <td nowrap>@item.ENDDATE</td>
                                                <td nowrap>@item.Total_Receipts</td>
                                                <td nowrap>@item.Total_Amount</td>
                                                <td nowrap><span class="badge-@((item.Pending_Days >= 0 && item.Pending_Days < 3) ?"success":(item.Pending_Days>=3 && item.Pending_Days < 5) ? "warning" : "danger")">@item.Pending_Days</span></td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-danger" role="alert">
                                    <strong>Sorry, </strong> No Transactions found.
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SCRIPTS -->
<script type="text/javascript" src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/MaterialDesign/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
@*<script type="text/javascript" src="~/MaterialDesign/js/bootstrap.js"></script>*@
<!-- MDB core JavaScript -->
@*<script type="text/javascript" src="~/MaterialDesign/js/mdb.min.js"></script>*@
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
@*<script type="text/javascript" src="~/MaterialDesign/js/dataTables.bootstrap4.min.js"></script>*@
@*<script type="text/javascript" src="~/MaterialDesign/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/MaterialDesign/js/dataTables.buttons.min.js"></script>*@
<script type="text/javascript" src="~/Content/JQueryDataTables/js/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/JQueryDataTables/js/vfs_fonts.js"></script>
<script type="text/javascript" src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    //batchCloseReview
    $(document).ready(function () {
        $('#batchCloseReview').DataTable({
            dom: 'Bfrtip',
            buttons: [
                { extend: 'pageLength', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'csv', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'excel', className: 'btn btn-danger waves-effect waves-light' },       
                //{ extend: 'print', className: 'btn btn-danger waves-effect waves-light' }
            ],
            pagingType: "numbers",
            pageLength: 25,            
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
        });
    });
</script>

