﻿@model List<PSPCL_Web_Module.Dto.Areas.Admin.SpUserDetail>

@{
    ViewBag.Title = "Sub Admin List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<style>
    .loaderouter {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        right: 0;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 0;
        vertical-align: middle;
        overflow: hidden;
    }

    .loaderCustom {
        width: 65px;
        height: 65px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }

    .handOnHover {
        cursor: pointer;
    }
</style>
<div class="loaderouter" id="divProLoader" style="display:none;">
    <div class="loaderCustom">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <h4 style="padding:20px;">Sub-Admin List</h4>
    <hr style="margin-bottom:0px; margin-top:0px;" />
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                @if (Model.Count > 0)
                {
                    <table id="topUpRequest" class="table table-striped table-bordered table-responsive-xs" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><center>S.No.</center></th>
                                <th><center>Username</center></th>
                                <th><center>Name</center></th>
                                <th><center>Email</center></th>
                                <th><center>Phone</center></th>
                                <th>Location</th>
                                <th><center>Status</center></th>
                                <th><center>Edit</center></th>
                                <th><center>Action</center></th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ int i = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><center>@i</center></td>
                                    <td><center>@item.UserName</center></td>
                                    <td><center>@item.Name</center></td>
                                    <td><center>@item.Email</center></td>
                                    <td><center>@item.PhoneNumber</center></td>
                                    <td><center>@item.Location</center></td>
                                    <td><center><span class="badge badge-@(item.Status==4? "success" : "danger")">@(item.Status == 4 ? "ACTIVE" : "INACTIVE")</span></center></td>
                                    <td><center><i class="fas fa-edit handOnHover" onclick="getUsereDetail('@item.Id');"></i></center></td>

                                    <td>
                                        <center>
                                            @if (item.Status == 4)
                                            {
                                                <button type="button" id="btnStopSite" class="btn btn-sm btn-danger waves-effect waves-light" onclick="inActive('@item.Id');">InActive</button>
                                            }
                                            else
                                            {
                                                <button type="button" id="btnLiveSite" class="btn btn-sm btn-success waves-effect waves-light" onclick="active('@item.Id');">Active</button>
                                            }
                                        </center>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>

                    </table>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Sorry, </strong> No Records found.
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!--modalCart -->
<div class="modal fade" id="userDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" id="userDetailBody">



            </div>
            <!--Footer-->

        </div>
    </div>
</div>
<!-- Modal: modalCart -->
<!-- SCRIPTS -->
<script src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="~/MaterialDesign/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="~/MaterialDesign/js/bootstrap.js"></script>
<!-- MDB core JavaScript -->
<script src="~/MaterialDesign/js/mdb.min.js"></script>
<script src="~/Content/architectui/scripts/main.js"></script>
<script src="~/MaterialDesign/js/jquery.dataTables.min.js"></script>
<script src="~/MaterialDesign/js/dataTables.bootstrap4.min.js"></script>
<script src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    var BASE_URL = window.location.origin;
    $(document).ready(function () {
        $('#topUpRequest').DataTable();
        $('#topUpRequest_wrapper').find('label').each(function () {
            $(this).parent().append($(this).children());
        });
        $('#topUpRequest_wrapper .dataTables_filter').find('input').each(function () {
            $('input').attr("placeholder", "Search");
            $('input').removeClass('form-control-sm');

        });
        $('#topUpRequest_wrapper .dataTables_length').addClass('d-flex flex-row');
        $('#topUpRequest_wrapper .dataTables_filter').addClass('md-form');
        $('#topUpRequest_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        $('#topUpRequest_wrapper select').addClass('mdb-select');
        //$('#topUpRequest_wrapper .mdb-select').material_select();
        $('#topUpRequest_wrapper .dataTables_filter').find('label').remove();
    });


    function active(userId) {
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/ActiveUser",
            type: "GET",
            data: { uniqueId: userId },
            success: function (response) {
                loader.hide();
                if (response.IsSuccess) {
                    swal({
                        title: "Thanks !",
                        text: response.Message,
                        type: "success"
                    }).then(result => {
                        if (result.value) {
                            window.location = BASE_URL + "/Admin/Admin/GetAllSubAdmin";
                        }
                    });
                }
                else {
                    swal({
                        title: "Warning !",
                        text: response.Message,
                        type: "error"
                    });
                }
            },
            failure: function (response) {
                loader.hide();
                console.log(response);
            }
        });
    }

    function inActive(userId) {
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/InActiveUser",
            type: "GET",
            data: { uniqueId: userId },
            success: function (response) {
                loader.hide();
                if (response.IsSuccess) {
                    swal({
                        title: "Thanks !",
                        text: response.Message,
                        type: "success"
                    }).then(result => {
                        if (result.value) {
                            window.location = BASE_URL + "/Admin/Admin/GetAllSubAdmin";
                        }
                    });
                }
                else {
                    swal({
                        title: "Warning !",
                        text: response.Message,
                        type: "error"
                    });
                }
            },
            failure: function (response) {
                loader.hide();
                console.log(response);
            }
        });
    }

    function getUsereDetail(userId) {

        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/UpdateUserView",
            type: "GET",
            data: { uniqueId: userId },
            success: function (response) {
                loader.hide();
                $("#userDetailBody").html(response);
                $('#userDetailModal').modal('show');
            },
            failure: function (response) {
                loader.hide();
                console.log(response);
            }
        });
    }
    function clearError(errIdName) {
        $('#' + errIdName).text(" ");
        $('#' + errIdName).css("display", "none");
    }
</script>
