﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<!--
<div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    <i class="pe-7s-helm icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Analytics Dashboard
                    <div class="page-title-subheading">
                        This is an Analytics dashboard created for Real-Time Monitoring of Transactions done Kiosks deployed for PSPCL
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Prashant Kumar Snehi" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star"></i>
                </button>
                <div class="d-inline-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-business-time fa-w-20"></i>
                        </span>
                        MailBox
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-inbox"></i>
                                    <span>
                                        Inbox
                                    </span>
                                    <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                        <i class="nav-link-icon lnr-book"></i>
                                        <span>
                                            Book
                                        </span>
                                        <div class="ml-auto badge badge-pill badge-danger">5</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                        <i class="nav-link-icon lnr-picture"></i>
                                        <span>
                                            Picture
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a disabled href="javascript:void(0);" class="nav-link disabled">
                                        <i class="nav-link-icon lnr-file-empty"></i>
                                        <span>
                                            File Disabled
                                        </span>
                                    </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
<div class="row">
    <div class="col-md-4 col-xl-4">
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total Transactions</div>
                    <div class="widget-subheading">on @(DateTime.Now.ToString("yyyy-MM-dd"))</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span id="todayTransaction">0</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total Transactions</div>
                    <div class="widget-subheading">for the month @(DateTime.Now.ToString("MMM-yyyy"))</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span id="monthTransaction">0</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-4">
        <div class="card mb-3 widget-content bg-grow-early">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total Transactions</div>
                    <div class="widget-subheading">for the year @DateTime.Now.Year</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span id="totalTransactionDetail">0</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 mr-0">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Transaction Summary Report</h5>
                <div id="chartContainermachine" class="chartjs-render-monitor" style="display: block; width: 100%; height: 326px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mr-0">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Transaction Summary Report</h5>
                <div id="chartContainerTrans" class="chartjs-render-monitor" style="display: block; width: 100%; height: 326px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        @*<div class="">
                <h2 class="h2-responsive mb-0">Transactions</h2>
            </div>*@
        <div class="row">
            <div class="col-lg-3 mr-0">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss">Summary</i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Transactions: <span id="totalTransaction">0</span></h5>
                        <hr />
                        <h5 class="card-title">Select Date Range</h5>
                        <div class="input-holder">
                            <label for="fromDate">From </label>
                            <input placeholder="" type="date" id="fromDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                        </div>
                        <br />
                        <div class="input-holder">
                            <label for="toDate">To</label>
                            <input placeholder="" type="date" id="toDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                        </div>
                        <hr />
                        <div class="widget-content-right header-user-info ml-3">
                            <button type="button" class="btn-shadow p-1 btn btn-primary btn-lg" id="btnSearch" onclick="transactionCount();" style="width:90%;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mr-0">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Transaction Summary Report</h5>
                        <div id="chartContainer" class="chartjs-render-monitor" style="display: block; width: 100%; height: 326px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="col-lg-12 mr-0">
                <div class="main-card card">
                    <div class="card-header">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss">Transactions Detail</i>
                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-focus">Last Week</button>
                                <button class="btn btn-focus">All Month</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" id="transactionsDetails">

                        </div>
                    </div>
                    <div class="d-block text-center card-footer">
                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                            <button class="btn-wide btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Total Orders</div>
                                    <div class="widget-subheading">Last year expenses</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-success">1896</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Products Sold</div>
                                    <div class="widget-subheading">Revenue streams</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-warning">$3M</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Followers</div>
                                    <div class="widget-subheading">People Interested</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-danger">45,9%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Income</div>
                                    <div class="widget-subheading">Expected totals</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-focus">$147</div>
                                </div>
                            </div>
                            <div class="widget-progress-wrapper">
                                <div class="progress-bar-sm progress-bar-animated-alt progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;"></div>
                                </div>
                                <div class="progress-sub-label">
                                    <div class="sub-label-left">Expenses</div>
                                    <div class="sub-label-right">100%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card-shadow-danger mb-3 widget-chart widget-chart2 text-left card">
                    <div class="widget-content">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left pr-2 fsize-1">
                                    <div class="widget-numbers mt-0 fsize-3 text-danger">71%</div>
                                </div>
                                <div class="widget-content-right w-100">
                                    <div class="progress-bar-xs progress">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left fsize-1">
                                <div class="text-muted opacity-6">Income Target</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-shadow-success mb-3 widget-chart widget-chart2 text-left card">
                    <div class="widget-content">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left pr-2 fsize-1">
                                    <div class="widget-numbers mt-0 fsize-3 text-success">54%</div>
                                </div>
                                <div class="widget-content-right w-100">
                                    <div class="progress-bar-xs progress">
                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left fsize-1">
                                <div class="text-muted opacity-6">Expenses Target</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-shadow-warning mb-3 widget-chart widget-chart2 text-left card">
                    <div class="widget-content">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left pr-2 fsize-1">
                                    <div class="widget-numbers mt-0 fsize-3 text-warning">32%</div>
                                </div>
                                <div class="widget-content-right w-100">
                                    <div class="progress-bar-xs progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left fsize-1">
                                <div class="text-muted opacity-6">Spendings Target</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-shadow-info mb-3 widget-chart widget-chart2 text-left card">
                    <div class="widget-content">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left pr-2 fsize-1">
                                    <div class="widget-numbers mt-0 fsize-3 text-info">89%</div>
                                </div>
                                <div class="widget-content-right w-100">
                                    <div class="progress-bar-xs progress">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left fsize-1">
                                <div class="text-muted opacity-6">Totals Target</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

<!--Section: Table-->
<!-- SCRIPTS -->
<script type="text/javascript" src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/MaterialDesign/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="~/MaterialDesign/js/bootstrap.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
<script type="text/javascript" src="~/Content/JQueryDataTables/js/datatables.min.js"></script>
<script type="text/javascript" src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    var BASE_URL = window.location.origin;
    // Data Picker Initialization
    //$('.datepicker').pickadate({
    //    format: 'dd-mm-yyyy'
    //});

    // Material Select Initialization
    $(document).ready(function () {
        var reportModel = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val(),
            Type: "ALL"
        };
        //$('.mdb-select').material_select();
        getTransactionDetail();
        transactionCount();
        //reportDatafromSp(reportModel);
        //transactionSummaryNew();
        //pieChart();
    });

    // Tooltips Initialization
    //$(function () {
    //    $('[data-toggle="tooltip"]').tooltip()
    //});
    function getTransactionDetail() {
        //debugger
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionDetail",
            type: "GET",
            success: function (response) {
                //debugger
                $("#todayTransaction").html(response.TodayCount);
                $("#monthTransaction").html(response.MonthCount);
                $("#totalTransactionDetail").html(response.YearCount);
                $("#totalTransaction").html(response.TodayCount);
                pieChartTrans(response);
            },
            failure: function (response) {
                console.log(response);
            }
        });
    }
    function transactionCount() {
        var reportData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val(),
            Type: "ALL"
        };
        $("#btnSearch").prop("disabled", true);
        //var loader = $('#divProLoader');
        //loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionCount",
            type: "POST",
            data: reportData,
            success: function (response) {
                //loader.hide();
                $("#btnSearch").prop("disabled", false);
                var labels = [];
                var datas = [];
                var count = 0;
                for (var i = 0; i < response.length; i++) {
                    labels.push(response[i].TerminalId);
                    datas.push(response[i].Count);
                    count += response[i].Count;
                    //terminalId += terminalId;
                }

                $("#totalkiosks").html(response.length);
                $("#totalTransaction").html(count);
                var data = {
                    Label: labels,
                    Data: datas
                }
                //chartData();
                transactionSummaryNew();
                //reportDatafromSp(reportData);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                //loader.hide();
                console.log(response);
            }
        });
    }
    function chartData() {
        //transactionCount();
        debugger
        var reportData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        //$("#btnSearch").prop("disabled", true);
        //var loader = $('#divProLoader');
        //loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionSummaryDetail",
            type: "POST",
            data: reportData,
            success: function (response) {
                debugger
                console.log(response);
                $("#btnSearch").prop("disabled", false);
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    title: {
                        text: "Machine wise Transaction Summary "
                    },
                    toolTip: {
                        shared: true
                    },
                    axisY: {
                        title: "Transactions"
                    },
                    data: [{
                        type: "column",
                        showInLegend: true,
                        showDatapoints: true,
                        legendMarkerColor: "grey",
                        legendText: "",
                        dataPoints: response
                    }]
                });
                chart.render();
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                //loader.hide();
                console.log(response);
            }
        });
    }
    function transactionSummaryNew() {
        //transactionCount();
        //debugger
        var reportData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        $("#btnSearch").prop("disabled", true);
        //var loader = $('#divProLoader');
        //loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionSummaryDetail",
            type: "POST",
            data: reportData,
            success: function (response) {
                //loader.hide();
                //debugger;
                //console.table(response);
                var cash = [];
                var cheque = [];
                for (var i = 0; i < response.length; i++) {
                    switch (response[i].PayMode) {
                        case 'cash':
                            cash.push({ label: response[i].label, y: response[i].y });
                            break;
                        default:
                            cheque.push({ label: response[i].label, y: response[i].y });
                            break;
                    }
                }
                /*debugger
                console.log(cash);
                console.log(cheque);
                console.log(card);
                console.log(duplicate);
                console.log(online);
                */
                $("#btnSearch").prop("disabled", false);
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    title: {
                        text: "Machine wise transaction Summary"
                    },
                    toolTip: {
                        shared: true
                    },
                    axisY: {
                        title: "No. of Transactions"
                    },
                    legend: {
                        cursor: "pointer",
                        verticalAlign: "center",
                        horizontalAlign: "right",
                        itemclick: toggleDataSeries
                    },
                    data: [{
                        type: "stackedColumn",
                        name: "cash",
                        showInLegend: "true",
                        indexLabel: "{y}",
                        dataPoints: cash
                    },
                    {
                        type: "stackedColumn",
                        name: "cheque",
                        showInLegend: "true",
                        indexLabel: "{y}",
                        dataPoints: cheque
                    }]
                });
                chart.render();
                function toggleDataSeries(e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    }
                    else {
                        e.dataSeries.visible = true;
                    }
                    chart.render();
                }
                pieChartmop(response);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                //loader.hide();
                console.log(response);
            }
        });
    }
    function testChart() {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "Top Oil Reserves"
            },
            axisY: {
                title: "Reserves(MMbbl)"
            },
            data: [{
                type: "column",
                showInLegend: true,
                legendMarkerColor: "grey",
                legendText: "MMbbl = one million barrels",
                dataPoints: [
                    { y: 300878, label: "Venezuela" },
                    { y: 266455, label: "Saudi" },
                    { y: 169709, label: "Canada" },
                    { y: 158400, label: "Iran" },
                    { y: 142503, label: "Iraq" },
                    { y: 101500, label: "Kuwait" },
                    { y: 97800, label: "UAE" },
                    { y: 80000, label: "Russia" }
                ]
            }]
        });
        chart.render();

    }
    function pieChart(response) {
        //transactionCount();
        //debugger
        var reportData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        $("#btnSearch").prop("disabled", true);
        //var loader = $('#divProLoader');
        //loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionSummaryDetail",
            type: "POST",
            data: reportData,
            success: function (response) {
                //loader.hide();
                //debugger;
                //console.table(response);
                var cash = [];
                var cheque = [];
                for (var i = 0; i < response.length; i++) {
                    switch (response[i].PayMode) {
                        case 'cash':
                            cash.push({ label: response[i].label, y: response[i].y });
                            break;
                        default:
                            cheque.push({ label: response[i].label, y: response[i].y });
                            break;
                    }
                }
                /*debugger
                console.log(cash);
                console.log(cheque);
                console.log(card);
                console.log(duplicate);
                console.log(online);
                */
                $("#btnSearch").prop("disabled", false);
                var chart = new CanvasJS.Chart("chartContainermop", {
                    animationEnabled: true,
                    title: {
                        text: "Machine wise transaction Summary"
                    },
                    toolTip: {
                        shared: true
                    },
                    axisY: {
                        title: "No. of Transactions"
                    },
                    legend: {
                        cursor: "pointer",
                        verticalAlign: "center",
                        horizontalAlign: "right",
                        itemclick: toggleDataSeries
                    },
                    data: [{
                        type: "pie",
                        startAngle: 240,
                        yValueFormatString: "##0.00\"%\"",
                        //name: "cash",
                        //showInLegend: "true",
                        indexLabel: "{label} {y}",
                        dataPoints: response
                    }]
                });
                chart.render();
                function toggleDataSeries(e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    }
                    else {
                        e.dataSeries.visible = true;
                    }
                    chart.render();
                }
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                //loader.hide();
                console.log(response);
            }
        });
    }
    function pieChartTrans(response) {
        var chart = new CanvasJS.Chart("chartContainermachine", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Tranx Wise"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}</strong>",
                indexLabel: "{name} - {y}",
                dataPoints: [
                    { y: response.YearCount, name: "Total Transactions", exploded: true },
                    { y: response.MonthCount, name: "TransactionThisMonth" },
                    { y: response.TodayCount, name: "TransactionToday" }
                    //{ y: 3, name: "Elected Officials" },
                    //{ y: 7, name: "University" },
                    //{ y: 17, name: "Executive" },
                    //{ y: 22, name: "Other Local Assistance" }
                ]
            }]
        });
        chart.render();
    }
    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();
    }
    function pieChartmop(response) {
        var chart = new CanvasJS.Chart("chartContainerTrans", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Machine Wise Summary"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                //showInLegend: true,
                toolTipContent: "<strong>{y}</strong>",
                indexLabel: "{y}",
                dataPoints: response
            }]
        });
        chart.render();
    }
    function reportDatafromSp(data) {
        $("#btnSearch").prop("disabled", true);
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            //url: BASE_URL + "/Admin/Admin/Report",
            url: BASE_URL + "/Admin/Admin/Report",
            type: "POST",
            data: data,
            success: function (response) {
                //debugger
                loader.hide();
                $("#btnSearch").prop("disabled", false);
                $("#transactionsDetails").html(response);
                //console.log(response);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                loader.hide();
                console.log(response);
            }
        });
    }
</script>
