﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="mt-lg-5">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-4">
            <!--Card-->
            <div class="card card-cascade cascading-admin-card">
                <!--Card Data-->
                <div class="admin-up">
                    <i class="fas fa-chart-pie light-blue lighten-1"></i>
                    <div class="data">
                        <p>TODAY TRANSACTIONS</p>
                        <h4 class="font-weight-bold dark-grey-text" id="todayTransaction">0</h4>
                    </div>
                </div>
                <!--/.Card Data-->
                <!--Card content-->
                <div class="card-body card-body-cascade">

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-4">
            <!--Card-->
            <div class="card card-cascade cascading-admin-card">
                <!--Card Data-->
                <div class="admin-up">
                    <i class="fas fa-chart-bar red accent-2"></i>
                    <div class="data">
                        <p>THIS MONTH TRANSACTIONS</p>
                        <h4 class="font-weight-bold dark-grey-text" id="monthTransaction">0</h4>
                    </div>
                </div>
                <!--/.Card Data-->
                <!--Card content-->
                <div class="card-body card-body-cascade">

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-4 col-md-6 mb-4">
            <!--Card-->
            <div class="card card-cascade cascading-admin-card">
                <!--Card Data-->
                <div class="admin-up">
                    <i class="fas fa-chart-line warning-color"></i>
                    <div class="data">
                        <p>TOTAL TRANSACTIONS</p>
                        <h4 class="font-weight-bold dark-grey-text" id="totalTransactionDetail">0</h4>
                    </div>
                </div>
                <!--/.Card Data-->
                <!--Card content-->
                <div class="card-body card-body-cascade">
                    <!--Text-->
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</section>

<section class="mb-5" style="margin-bottom:100px !important;">
    <!--Card-->
    <div class="card card-cascade narrower">
        <!--Section: Chart-->
        <section>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-xl-3 col-lg-12 mr-0">
                    <!--Card image-->
                    <div class="view view-cascade gradient-card-header light-blue lighten-1">
                        <h2 class="h2-responsive mb-0">Transactions</h2>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-body card-body-cascade pb-0">
                        <!--Panel data-->
                        <div class="row card-body pt-3">
                            <div class="col-md-12 ">
                                <!--Summary-->
                                <p>Total Transactions: <strong><span id="totalTransaction">0</span></strong></p>
                                <p>Total Live Kiosks: <strong><span id="totalKiosks">0</span></strong></p>                                
                                <p class="lead"><span class="badge info-color p-2">Select Data Range</span></p>
                                <div class="md-form">
                                    <input placeholder="" type="text" id="fromDate" value="@DateTime.Now.ToString("dd-MM-yyyy")" class="form-control datepicker">
                                    <label for="fromDate">From</label>
                                </div>
                                <div class="md-form">
                                    <input placeholder="" type="text" value="@DateTime.Now.ToString("dd-MM-yyyy")" id="toDate" class="form-control datepicker">
                                    <label for="toDate">To</label>
                                </div>
                                <button type="button" class="btn btn-deep-orange waves-effect waves-light" id="btnSearch" onclick="transactionCount();">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-12 mb-4">
                    <!--Card image-->
                    <div class="view view-cascade gradient-card-header blue-gradient">
                        <!-- Chart -->
                        @*<canvas id="lineChart" height="326" width="559" class="chartjs-render-monitor" style="display: block; width: 559px; height: 326px;"></canvas>*@
                        <div id="chartContainer" class="chartjs-render-monitor" style="display: block; width: 100%; height: 326px;"></div>
                    </div>
                    <!--/Card image-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!--Section: Chart-->
    </div>
    <!--/.Card-->
</section>
<div class="container">
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
</div>

<!--Section: Table-->
<!--Section: Table-->
<!-- SCRIPTS -->
<script src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="~/MaterialDesign/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="~/MaterialDesign/js/bootstrap.js"></script>
<!-- MDB core JavaScript -->
<script src="~/MaterialDesign/js/mdb.min.js"></script>
<script src="~/MaterialDesign/js/jquery.dataTables.min.js"></script>
<script src="~/MaterialDesign/js/dataTables.bootstrap4.min.js"></script>
<script src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
    var BASE_URL = window.location.origin;
    // Data Picker Initialization
    $('.datepicker').pickadate({
        format: 'dd-mm-yyyy'
    });

    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').material_select();
        getTransactionDetail();
        transactionCount();
    });

    // Tooltips Initialization
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    function getTransactionDetail() {
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionDetail",
            type: "GET",
            success: function (response) {
                debugger
                $("#todayTransaction").html(response.TodayCount);
                $("#monthTransaction").html(response.MonthCount);
                $("#totalTransactionDetail").html(response.YearCount);
            },
            failure: function (response) {
                console.log(response);
            }
        });
    }

    function transactionCount() {
        var reportData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        $("#btnSearch").prop("disabled", true);
        //var loader = $('#divProLoader');
        //loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionCount",
            type: "POST",
            data: reportData,
            success: function (response) {
                //loader.hide();
                debugger
                console.log(response);
                $("#btnSearch").prop("disabled", false);
                var labels = [];
                var datas = [];
                var count = 0;
                for (var i = 0; i < response.length; i++) {
                    labels.push(response[i].TerminalId);
                    datas.push(response[i].Count);
                    count += response[i].Count;
                }
                $("#totalKiosks").html(response.length);
                $("#totalTransaction").html(count);
                var data = {
                    Label: labels,
                    Data: datas
                }
                //reportSummary(data);
                transactionSummaryNew();
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                //loader.hide();
                console.log(response);
            }
        });
    }

    function transactionSummaryNew() {
        //transactionCount();
        debugger
        var reportData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        $("#btnSearch").prop("disabled", true);
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionSummaryDetail",
            type: "POST",
            data: reportData,
            success: function (response) {
                //loader.hide();
                debugger;
                console.log(response);
                var cash = [];
                var cheque = [];
                for (var i = 0; i < response.length; i++) {
                    switch (response[i].PayMode) {
                        case 'cash':
                            cash.push({ label: response[i].label, y: response[i].y });
                            break;
                        case 'cheque':
                            cheque.push({ label: response[i].label, y: response[i].y });
                            break;
                        default:
                            cash.push({ label: response[i].label, y: response[i].y });
                            break;
                    }
                }
                debugger
                console.log(cash);
                console.log(cheque);

                $("#btnSearch").prop("disabled", false);
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    title: {
                        text: "Machine wise transaction Summary"
                    },
                    toolTip: {
                        shared: true
                    },
                    axisY: {
                        title: "No. of Transactions"
                    },
                    legend: {
                        cursor: "pointer",
                        verticalAlign: "center",
                        horizontalAlign: "right",
                        itemclick: toggleDataSeries
                    },
                    data: [{
                        type: "stackedColumn",
                        name: "cash",
                        showInLegend: "true",
                        indexLabel: "{y}",
                        dataPoints: cash
                    },
                    {
                        type: "stackedColumn",
                        name: "cheque",
                        showInLegend: "true",
                        indexLabel: "{y}",
                        dataPoints: cheque
                    }]
                });
                chart.render();
                function toggleDataSeries(e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    }
                    else {
                        e.dataSeries.visible = true;
                    }
                    chart.render();
                }
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                //loader.hide();
                console.log(response);
            }
        });
    }
</script>


