﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<!--Displaying Transactions Summary-->
<!--<div class="row">
    <div class="col-md-6">
        <canvas id="myChart"></canvas>
    </div>
</div>-->

<div class="row" id="transTrends">
    <div class="col-md-3">
        <!--<div class="card card-shadow-primary border mb-3 card card-body border-primary">-->
        <div class="row">
            <div class="col-md-12" style="margin-top:30px;">
                <div class="card mb-3 widget-content bg-midnight-bloom">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total Transactions</div>
                            <div class="widget-subheading">on @(DateTime.Now.ToString("yyyy-MM-dd"))</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span id="todayTransaction">0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3 widget-content bg-arielle-smile">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total Transactions</div>
                            <div class="widget-subheading">for the month @(DateTime.Now.ToString("MMM-yyyy"))</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span id="monthTransaction">0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3 widget-content bg-grow-early">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total Transactions</div>
                            <div class="widget-subheading">for the year @DateTime.Now.Year</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span id="totalTransactionDetail">0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
    <div class="col-lg-9 mr-0">
        <!--<div class="main-card mb-3 card">-->
        <!--<div class="card card-shadow-primary border mb-3 card card-body border-primary">-->
        <div class="mb-3 card text-white bg-primary gradient">
            <div class="card-body">
                <div id="chartContainermachine" class="chartjs-render-monitor" style="display: block; width: 100%; height: 326px;"></div>
                @*<div id="chartContainermachine" style="height: 370px; width: 100%;"></div>*@
            </div>
        </div>
    </div>
    <!--
        <div class="col-lg-4 mr-0">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div id="chartContainerTrans" class="chartjs-render-monitor" style="display: block; width: 100%; height: 326px;"></div>
                </div>
            </div>
        </div>
    -->

</div>
<!--End Displaying Transactions Summary-->
<!--Charts-->
<div class="row" id="summary" style="display:none;">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="row">
            <div class="col-lg-12 mr-0" id="summary">
                <div class="main-card mb-3 card card-shadow-primary border mb-3 card card-body">
                    <!--<div class="mb-3 card text-white bg-warning">-->
                    <div class="card-header">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss">Summary</i>
                    </div>
                    <div class="card-body">
                        <!--<h5 class="card-title">Transactions: <span id="totalTransaction">0</span>/ No of Kiosks: <span id="totalMachines">0</span></h5>-->
                        <h5 class="card-title">Select Date Range</h5>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-holder">
                                    <input placeholder="" type="date" id="fromDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                                    <label for="fromDate">From </label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-holder">
                                    <input placeholder="" type="date" id="toDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                                    <label for="toDate">To</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button" class="btn-shadow btn btn-primary btn-lg" id="btnSearch" onclick="transactionCount();" style="width:90%;">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!--<div class="col-lg-3 mr-0" id="summary" style="display:none;">-->
    @*<div class="col-lg-3 mr-0" id="summary">
        <div class="main-card mb-3 card card-shadow-primary border mb-3 card card-body">*@
    <!--<div class="mb-3 card text-white bg-warning">-->
    @*<div class="card-header">
                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss">Summary</i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Transactions: <span id="totalTransaction">0</span>/ No of Kiosks: <span id="totalMachines">0</span></h5>
                    <hr />
                    <h5 class="card-title">Select Date Range</h5>
                    <div class="input-holder">
                        <label for="fromDate">From </label>
                        <input placeholder="" type="date" id="fromDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                    </div>
                    <br />
                    <div class="input-holder">
                        <label for="toDate">To</label>
                        <input placeholder="" type="date" id="toDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                    </div>
                    <div class="widget-content-right header-user-info ml-3">
                        <button type="button" class="btn-shadow btn btn-primary btn-lg" id="btnSearch" onclick="transactionCount();" style="width:90%;">Submit</button>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>*@
    <div class="col-lg-12 mr-0" id="chartbody">
        <!--<div class="main-card mb-3 card">-->
        <div class="mb-3 card text-white bg-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 float-left">
                        <div class="font-icon-wrapper font-icon-lg">
                            <a href="javascript:void(0);" id="filter" onClick="openSolution();"><i class="pe-7s-filter icon-gradient bg-warm-flame" style="font-size:20px;"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-9 float-right">
                        <span class="card-title" style="color:white;"><strong>Transaction Summary Report</strong>: Transactions: <span id="totalTransaction">0</span>, No of Kiosks: <span id="totalMachines">0</span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @*<h5 class="card-title">Transactions: <span id="totalTransaction">0</span>/ No of Kiosks: <span id="totalMachines">0</span></h5>*@
                        <div id="chartContainer" class="chartjs-render-monitor" style="display: block; width: 100%; height: 450px;"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--End Charts-->
<!--Section: Table-->
<!-- SCRIPTS -->
<script type="text/javascript" src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/MaterialDesign/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
@*<script type="text/javascript" src="~/MaterialDesign/js/bootstrap.js"></script>*@
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">
    var BASE_URL = window.location.origin;
    // Data Picker Initialization
    // $('.datepicker').pickadate({
    //    format: 'dd-mm-yyyy'
    // });
    // Material Select Initialization
    $(document).ready(function () {
        var reportModel = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val(),
            Type: "ALL"
        };
        //$('.mdb-select').material_select();
        getTransactionDetail();
        transactionCount();
        //reportDatafromSp(reportModel);
        //transactionSummaryNew();
        //pieChart();
        monthlyTranTrend();
    });

    function openSolution() {
        $("#summary").toggle("slow");
    }
    /*
    function openSolution() {
        $("#summary").toggle("slow", function () {
            // check paragraph once toggle effect is completed
            if ($("#summary").is(":hidden")) {
                //$("#chartbody").addClass('col-lg-12');
                //$("#chartbody").removeClass('col-lg-9');
            } else {
                $("#chartbody").toggle();
                //$("#chartbody").addClass('col-lg-9');
                //$("#chartbody").removeClass('col-lg-12');
            }
        });
    }
    */
    // Tooltips Initialization
    //$(function () {
    //    $('[data-toggle="tooltip"]').tooltip()
    //});
    function getTransactionDetail() {
        //debugger
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionDetail",
            type: "GET",
            success: function (response) {
                $("#transTrends").fadeIn("slow");
                //debugger
                $("#todayTransaction").html(response.TodayCount);
                $("#monthTransaction").html(response.MonthCount);
                $("#totalTransactionDetail").html(response.YearCount);
                $("#totalTransaction").html(response.TodayCount);
                //pieChartTrans(response);
            },
            failure: function (response) {
                console.log(response);
            }
        });
    }
    function transactionCount() {
        var reportData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val(),
            Type: "ALL"
        };
        $("#btnSearch").prop("disabled", true);
        //var loader = $('#divProLoader');
        //loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionCount",
            type: "POST",
            data: reportData,
            success: function (response) {
                //loader.hide();
                $("#btnSearch").prop("disabled", false);
                var labels = [];
                var datas = [];
                var count = 0;
                for (var i = 0; i < response.length; i++) {
                    labels.push(response[i].TerminalId);
                    datas.push(response[i].Count);
                    count += response[i].Count;
                    //terminalId += terminalId;
                }
                $("#totalMachines").html(response.length);
                $("#totalTransaction").html(count);
                var data = {
                    Label: labels,
                    Data: datas
                }
                //chartData();
                transactionSummaryNew();
                //reportDatafromSp(reportData);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                //loader.hide();
                console.log(response);
            }
        });
    }
    //function chartData() {
    //    //transactionCount();
    //    debugger
    //    var reportData = {
    //        FromDate: $("#fromDate").val(),
    //        ToDate: $("#toDate").val()
    //    };
    //    //$("#btnSearch").prop("disabled", true);
    //    //var loader = $('#divProLoader');
    //    //loader.show();
    //    $.ajax({
    //        url: BASE_URL + "/Admin/Admin/TransactionSummaryDetail",
    //        type: "POST",
    //        data: reportData,
    //        success: function (response) {
    //            debugger
    //            console.log(response);
    //            $("#btnSearch").prop("disabled", false);
    //            var chart = new CanvasJS.Chart("chartContainer", {
    //                animationEnabled: true,
    //                theme: "light2", // "light1", "light2", "dark1", "dark2"
    //                title: {
    //                    text: "Machine wise Transaction Summary "
    //                },
    //                toolTip: {
    //                    shared: true
    //                },
    //                axisY: {
    //                    title: "Transactions"
    //                },
    //                data: [{
    //                    type: "column",
    //                    showInLegend: true,
    //                    showDatapoints: true,
    //                    legendMarkerColor: "grey",
    //                    legendText: "",
    //                    dataPoints: response
    //                }]
    //            });
    //            chart.render();
    //        },
    //        failure: function (response) {
    //            $("#btnSearch").prop("disabled", false);
    //            //loader.hide();
    //            console.log(response);
    //        }
    //    });
    //}
    function transactionSummaryNew() {
        //transactionCount();
        //debugger
        var reportData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        $("#btnSearch").prop("disabled", true);
        $("#summary").hide('slow');
        //var loader = $('#divProLoader');
        //loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionSummaryDetail",
            type: "POST",
            data: reportData,
            success: function (response) {
                //loader.hide();
                //debugger;
                //console.table(response);
                //$("#chartbody").fadeIn('slow');
                var cash = [];
                var cheque = [];
                for (var i = 0; i < response.length; i++) {
                    switch (response[i].PayMode) {
                        case 'cash':
                            cash.push({ label: response[i].label, y: response[i].y });
                            break;
                        default:
                            cheque.push({ label: response[i].label, y: response[i].y });
                            break;
                    }
                }
                $("#btnSearch").prop("disabled", false);
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    title: {
                        text: "Machine wise transaction Summary"
                    },
                    toolTip: {
                        shared: true
                    },
                    axisY: {
                        title: "No. of Transactions"
                    },
                    legend: {
                        cursor: "pointer",
                        verticalAlign: "center",
                        horizontalAlign: "right",
                        itemclick: toggleDataSeries
                    },
                    data: [{
                        type: "stackedColumn",
                        name: "cash",
                        showInLegend: "true",
                        indexLabel: "{y}",
                        dataPoints: cash
                    },
                    {
                        //type: "spline",
                        type: "stackedColumn",
                        name: "cheque",
                        showInLegend: "true",
                        indexLabel: "{y}",
                        dataPoints: cheque
                    }]
                });
                chart.render();
                function toggleDataSeries(e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    }
                    else {
                        e.dataSeries.visible = true;
                    }
                    chart.render();
                }
                //pieChartmop(response);
                //chartjs(response);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                //loader.hide();
                console.log(response);
            }
        });
    }
    /*
     function chartjs(response) {
        debugger
        console.log(response);
        var data = [];
        var records = [];
        for (var i = 0; i < response.length; i++) {
            data.push({ label: response[i].label });
            records.push({ y: response[i].y });
        }
        //var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart("myChart", {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: data,
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: records
                }]
            },
            // Configuration options go here
            options: {}
        });

    }
    function testChart() {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "Top Oil Reserves"
            },
            axisY: {
                title: "Reserves(MMbbl)"
            },
            data: [{
                type: "column",
                showInLegend: true,
                legendMarkerColor: "grey",
                legendText: "MMbbl = one million barrels",
                dataPoints: [
                    { y: 300878, label: "Venezuela" },
                    { y: 266455, label: "Saudi" },
                    { y: 169709, label: "Canada" },
                    { y: 158400, label: "Iran" },
                    { y: 142503, label: "Iraq" },
                    { y: 101500, label: "Kuwait" },
                    { y: 97800, label: "UAE" },
                    { y: 80000, label: "Russia" }
                ]
            }]
        });
        chart.render();

    }
    */
    /*
    function pieChart(response) {
        //transactionCount();
        //debugger
        var reportData = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val()
        };
        $("#btnSearch").prop("disabled", true);
        //var loader = $('#divProLoader');
        //loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionSummaryDetail",
            type: "POST",
            data: reportData,
            success: function (response) {
                //loader.hide();
                //debugger;
                //console.table(response);
                var cash = [];
                var cheque = [];
                for (var i = 0; i < response.length; i++) {
                    switch (response[i].PayMode) {
                        case 'cash':
                            cash.push({ label: response[i].label, y: response[i].y });
                            break;
                        default:
                            cheque.push({ label: response[i].label, y: response[i].y });
                            break;
                    }
                }
                $("#btnSearch").prop("disabled", false);
                var chart = new CanvasJS.Chart("chartContainermop", {
                    animationEnabled: true,
                    title: {
                        text: "Machine wise transaction Summary"
                    },
                    toolTip: {
                        shared: true
                    },
                    axisY: {
                        title: "No. of Transactions"
                    },
                    legend: {
                        cursor: "pointer",
                        verticalAlign: "center",
                        horizontalAlign: "right",
                        itemclick: toggleDataSeries
                    },
                    data: [{
                        type: "pie",
                        startAngle: 240,
                        yValueFormatString: "##0.00\"%\"",
                        //name: "cash",
                        //showInLegend: "true",
                        indexLabel: "{label} {y}",
                        dataPoints: response
                    }]
                });
                chart.render();
                function toggleDataSeries(e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    }
                    else {
                        e.dataSeries.visible = true;
                    }
                    chart.render();
                }
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                //loader.hide();
                console.log(response);
            }
        });
    }
    */
    /*
    function pieChartTrans(response) {
        var chart = new CanvasJS.Chart("chartContainermachine", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Tranx Wise"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}</strong>",
                indexLabel: "{name} - {y}",
                dataPoints: [
                    { y: response.YearCount, name: "Total Transactions", exploded: true },
                    { y: response.MonthCount, name: "TransactionThisMonth" },
                    { y: response.TodayCount, name: "TransactionToday" }
                    //{ y: 3, name: "Elected Officials" },
                    //{ y: 7, name: "University" },
                    //{ y: 17, name: "Executive" },
                    //{ y: 22, name: "Other Local Assistance" }
                ]
            }]
        });
        chart.render();
    }
    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();
    }
    */
    /*
    function pieChartmop(response) {
        var chart = new CanvasJS.Chart("chartContainerTrans", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Kiosk Wise"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                //showInLegend: true,
                toolTipContent: "<strong>{y}</strong>",
                indexLabel: "{y}",
                dataPoints: response
            }]
        });
        chart.render();
    }
    */
    function reportDatafromSp(data) {
        $("#btnSearch").prop("disabled", true);
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            //url: BASE_URL + "/Admin/Admin/Report",
            url: BASE_URL + "/Admin/Admin/Report",
            type: "POST",
            data: data,
            success: function (response) {
                //debugger
                loader.hide();
                $("#btnSearch").prop("disabled", false);
                $("#transactionsDetails").html(response);
                //console.log(response);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                loader.hide();
                console.log(response);
            }
        });
    }

    function monthlyTranTrend() {
        $.ajax({
            url: BASE_URL + "/Admin/Admin/monthlyTranTrend",
            type: "GET",
            success: function (response) {
                //debugger
                //console.log(response);
                multiSeriesSplineChart(response);
            },
            failure: function (response) {
                console.log(response);
            }
        });
    }

    function multiSeriesSplineChart(data) {
        //debugger
        //console.log(data);
        var cash = [];
        var cheque = [];
        var total = [];
        for (var i = 0; i < data.length; i++) {
            switch (data[i].PayMode) {
                case 'Cash':
                    cash.push({ label: data[i].label.substring(2, data[i].label.length), y: data[i].y });
                    break;
                case 'Cheque':
                    cheque.push({ label: data[i].label.substring(2, data[i].label.length), y: data[i].y });
                    break;
                default:
                    total.push({ label: data[i].label.substring(2, data[i].label.length), y: data[i].y });
                    break;
            }
        }

        console.log(cash);
        console.log(cheque);
        console.log(total);
        var chart = new CanvasJS.Chart("chartContainermachine", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Monthly Transaction Trend"
            },
            //exportFileName: "Range Spline Area",  //Give any name accordingly
            //exportEnabled: true,
            axisY: {
                includeZero: false,
                title: "Transactions",
                //suffix: "mn"
            },
            toolTip: {
                shared: "true"
            },
            legend: {
                cursor: "pointer",
                itemclick: toggleDataSeries
            },
            data: [{
                //type: "stackedColumn",
                type: "spline",
                visible: true,
                showInLegend: true,
                //yValueFormatString: "##.00mn",
                lineThickness: 5,
                name: 'Cash',
                indexLabel: "{y}",
                dataPoints: cash
            },
            {
                //type: "stackedColumn",
                type: "spline",
                showInLegend: true,
                visible: true,
                //yValueFormatString: "##.00mn",
                lineThickness: 5,
                indexLabel: "{y}",
                name: 'Cheque',
                dataPoints: cheque
            }]
        });
        chart.render();
        //chart.exportChart({format: "png"});

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }
    }
</script>