﻿@model List<string>
@{
    ViewBag.Title = "Report";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<link type="text/css" href="~/Content/JQueryDataTables/css/datatables.min.css" rel="stylesheet" />*@
<link type="text/css" href="~/Content/JQueryDataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    .dataTables_scroll {
        padding-top: 10px !important;
        overflow: auto;
    }
</style>
<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<section class="mb-5" style="margin-bottom:100px !important;">
    <div class="col-lg-12">
        @*<div class="row">
                <div class="col-lg-12">
                    <button class="search-icon" id="btnSearchdivToggle" onclick="openSearch();"><span></span></button>
                </div>
            </div>*@
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-12" style="width:100%">
                            <h3 class="float-left" style="padding:15px 0px 5px 0px;">Non Sap Transactions Processing</h3>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row" id="searchOptions">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <input list="terminal" type="text" class="mb-2 form-control" id="terminalId" />
                                                <datalist id="terminal">
                                                    <option value="" selected>All</option>
                                                    @foreach (var item in Model)
                                                    {
                                                        <option value="@item">@item</option>
                                                    }
                                                </datalist>
                                                <label for="terminalId">Terminal Id</label>
                                                <small id="SiteIDErr" style="display:none;"></small>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="md-form">
                                                    <input placeholder="" type="date" id="fromDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                                                    <label for="fromDate">From</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="md-form">
                                                    <input placeholder="" type="date" id="toDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                                                    <label for="toDate">To</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <button type="button" class="btn btn-info btn-block waves-effect waves-light" id="btnGetSummary">Get Summary</button>
                                            </div>
                                        </div>
                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="row">
                            <div class="col-lg-12" id="myLoader" style="display:none;">
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">
                                        <img src="~/Content/loader/images/giphy.gif" style="background-position: center;width:200px;height:200px;" alt="NoimageFound" />
                                    </div>
                                    <div class="col-lg-4"></div>
                                </div>
                            </div>
                            <div id="reportData" class="col-lg-12 data" style="display:none;">
                                <table id="transactionTable" class="table table-striped table-bordered table-responsive-xs nowrap hover dt-head-center dt-body-justify">
                                    <thead>
                                        <tr>                                            
                                            <th>ReportDate</th>
                                            <th>DS Bills</th>
                                            <th>DS Amount</th>
                                            <th>SP Bills</th>
                                            <th>SP Amount</th>
                                            <th>MS Bills</th>
                                            <th>MS Amount</th>
                                            <th>LS Bills</th>
                                            <th>LS Amount</th>
                                            <th>GC Bills</th>
                                            <th>GC Amount</th>
                                            <th>Solor Bills</th>
                                            <th>Solor Amount</th>
                                            <th>Tem Bills</th>
                                            <th>Tem Amount</th>
                                            <th>Total Bills</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ReportDate</th>
                                            <th>DS Bills</th>
                                            <th>DS Amount</th>
                                            <th>SP Bills</th>
                                            <th>SP Amount</th>
                                            <th>MS Bills</th>
                                            <th>MS Amount</th>
                                            <th>LS Bills</th>
                                            <th>LS Amount</th>
                                            <th>GC Bills</th>
                                            <th>GC Amount</th>
                                            <th>Solor Bills</th>
                                            <th>Solor Amount</th>
                                            <th>Tem Bills</th>
                                            <th>Tem Amount</th>
                                            <th>Total Bills</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row" style="display:none;" id="divGenerateFile">
                            <div class="col-lg-12">
                                @*<button type="button" class="btn btn-info btn-block waves-effect waves-light" id="btnDownloadFile">Download File</button>*@
                                <a href="@Url.Action("GenerateNonSapPaymentFile","Admin")" target="_blank"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Download Payment File</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="downloadHistoricalDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="height:700px;">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Download Excel</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <!--Body-->
            <div class="modal-body" id="downloadHistoricalDataBody">

            </div>
            <!--Footer-->

        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script type="text/javascript" src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/MaterialDesign/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
@*<script type="text/javascript" src="~/Content/bootStrap/js/bootstrap.min.js"></script>*@
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
<script type="text/javascript" src="~/Content/JQueryDataTables/js/datatables.min.js"></script>
<script type="text/javascript" src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    var BASE_URL = window.location.origin;
    //$('.datepicker').pickadate({
    //    format: 'dd-mm-yyyy'
    //});
    $(document).ready(function () {
        //$('.mdb-select').materialSelect();
        //$('[data-toggle="tooltip"]').tooltip();
        var reportModel = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val(),
            TerminalId: $("#terminalId").val(),
            Type: $("#type").val()
        };
        //reportDatafromSp(reportModel);
        //reportDatafromSpPagination(reportModel);
        //handleTransactionsDetailPagewise(reportModel);

        //reportData();
        //$('#transactionTable_wrapper').find('label').each(function () {
        //    $(this).parent().append($(this).children());
        //});

        //$('#transactionTable_wrapper .transactionTable_filter').find('input').each(function () {
        //    $('input').attr("placeholder", "Search");
        //    $('input').removeClass('form-control-sm');
        //});
        //$('#transactionTable_wrapper .transactionTable_length').addClass('d-flex flex-row');
        //$('#transactionTable_wrapper .transactionTable_filter').addClass('md-form');
        //$('#transactionTable_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        //$('#transactionTable_wrapper select').addClass('mdb-select');
        ////$('#transactionTable_wrapper .mdb-select').material_select();
        //$('#transactionTable_wrapper .transactionTable_filter').find('label').remove();
    });

    function myFunction() {
        document.getElementById("terminalid").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("terminalId");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    $("#btnGetSummary").click(function () {
        //debugger
        //var loader = $('#divProLoader');
        //loader.show();
        $('#myLoader').show();
        $("#reportData").hide();
        $("#divGenerateFile").hide();
        var TerminalId = $("#terminalId").val();
        if (TerminalId == null || TerminalId == "") {
            $("#SiteIDErr").text("Please Enter TSI Site Id !!!");
            $("#SiteIDErr").css("display", "block");
            $("#SiteIDErr").css("color", "red");
            return;
        } else {
            var reportModel = {
                FromDate: $("#fromDate").val(),
                ToDate: $("#toDate").val(),
                TerminalId: $("#terminalId").val(),
                //Type: $("#type").val()
            };
            //console.log(reportModel);
            //loader.show();
            //openSearch();
            reportDatafromSp(reportModel);
            //reportDatafromSpPagination(reportModel);
        }
    });

    function openSearch() {
        $("#searchOptions").toggle("slow");
        $("#btnSearchdivToggle").toggleClass("fa-search-plus fa-search-minus");
    }

    function reportDatafromSp(data) {
        //debugger
        $("#btnGetSummary").prop("disabled", true);
        $('#myLoader').show();
        $("#reportData").hide();
        $.ajax({
            //url: BASE_URL + "/Admin/Admin/Report",
            url: BASE_URL + "/Admin/Admin/GetNonSapPayFileSummary",
            type: "POST",
            data: data,
            dataType: "json",
            async: true,
            //beforeSend: function () {
            //    // Show image container
            //    $("#myLoader").show();
            //    $("#tableSpace").hide();
            //},
            success: function (response) {
                //debugger
                //console.log(response);
                //$("#reportData").html(response);
                handleTransactionsDetail(response);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                loader.hide();
                $('#reportData').show();
                console.log(response);
            },
            //complete: function (data) {
            //    // Hide image container
            //    $("#tableSpace").show();
            //    $("#myLoader").hide();
            //}
        });
    }

    function reloadReportData() {
        reportTable.ajax.reload();
    }

    function handleTransactionsDetail(tableData) {
        //$("#overlayHouseKeepingDetail").fadeOut(300);
        $("#transactionTable").DataTable({
            destroy: true,
            autoWidth: false,
            fixedHeader: true,
            data: tableData,
            "bSort": true,
            "order": [[0, "asc"]],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'pageLength', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'csv', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'excel', className: 'btn btn-danger waves-effect waves-light' }
            ],
            pagingType: "numbers",
            pageLength: 25,
            "lengthMenu": [[25, 50, 100, 150, 200 - 1], [25, 50, 100, 150, 200, "All"]],
            "columns":
                [
                    { "data": "ReportDate" },
                    { "data": "Ds_Bills" },
                    { "data": "DS_Amount" },
                    { "data": "SP_Bills" },
                    { "data": "SP_Amount" },
                    { "data": "MS_Bills" },
                    { "data": "MS_Amount" },
                    { "data": "LS_Bills" },
                    { "data": "LS_Amount" },
                    { "data": "GC_Bills" },
                    { "data": "GC_Amount" },
                    { "data": "Solor_Bills" },
                    { "data": "Solor_Amount" },
                    { "data": "Tem_Bills" },
                    { "data": "Tem_Amount" },
                    { "data": "Total_Bills" },
                    { "data": "Total_Amount" }
                ],
            columnDefs: [
                { className: 'text-right', targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16] },
                { className: 'text-center', targets: [0] },
                //{ className: 'text-left', targets: [4, 8] },
            ]
            //"columnDefs": [
            //    { "width": "48px", "targets": 0 },
            //    { "width": "42px", "targets": 1 },
            //    { "targets": [3, 7, 9, 13, 15], visible: false },
            //]
        });
        $('.dataTable').wrap('<div class="dataTables_scroll" />');
        $('#myLoader').hide();
        $("#reportData").show();
        $("#btnGetSummary").prop("disabled", false);
        $("#divGenerateFile").show();
    }


    /*
    function handleTransactionsDetail(tableData) {
        //$("#overlayHouseKeepingDetail").fadeOut(300);
        $("#transactionTable").DataTable({
            destroy: true,
            autoWidth: false,
            fixedHeader: true,
            data: tableData,
            "bSort": true,
            "order": [[1, "asc"]],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'pageLength', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'csv', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'excel', className: 'btn btn-danger waves-effect waves-light' }
            ],
            pagingType: "numbers",
            pageLength: 25,
            "lengthMenu": [[25, 50, 100, 150, 200 - 1], [25, 50, 100, 150, 200, "All"]],
            "columns":
                [
                    {
                        "data": null,
                        "sortable": true,
                        render: function (data, type, row, meta) {
                            var rownum = meta.row + meta.settings._iDisplayStart + 1;
                            return '<center>' + rownum + '</center>';
                        }
                    },
                    //{
                    //    "data": "TerminalId",
                    //    "sortable": true,
                    //    render: function (data, type, row, meta) {
                    //        //var rownum = meta.row + meta.settings._iDisplayStart + 1;
                    //        return '<center id="terminalId">' + data + '</center>';
                    //    }
                    //},
                    { "data": "TerminalId" },
                    { "data": "ReportDate" },
                    //{ "data": "ToDate" },
                    { "data": "Category" },
                    { "data": "Bills" },
                    {
                        "data": "CollectionAmt",
                        "render": function (CollectionAmt) {
                            return "<span>&#8377; " + numberWithCommas(CollectionAmt) + "</span>";
                        }
                    }
                ],
            columnDefs: [
                { className: 'text-right', targets: [0, 4, 5] },
                { className: 'text-center', targets: [1, 2, 3] },
                //{ className: 'text-left', targets: [4, 8] },
            ]
            //"columnDefs": [
            //    { "width": "48px", "targets": 0 },
            //    { "width": "42px", "targets": 1 },
            //    { "targets": [3, 7, 9, 13, 15], visible: false },
            //]
        });
        $('.dataTable').wrap('<div class="dataTables_scroll" />');
        $('#myLoader').hide();
        $("#reportData").show();
        $("#btnGetSummary").prop("disabled", false);
        $("#divGenerateFile").show();
    }
    */
    function numberWithCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }

    /*

    $("#btnDownloadFile").click(function () {
        //debugger
        //var loader = $('#divProLoader');
        //loader.show();
        //$('#myLoader').show();
        var TerminalId = $("#terminalId").val();
        if (TerminalId == null || TerminalId == "") {
            $("#SiteIDErr").text("Please Enter TSI Site Id !!!");
            $("#SiteIDErr").css("display", "block");
            $("#SiteIDErr").css("color", "red");
            return;
        } else {
            var reportModel = {
                FromDate: $("#fromDate").val(),
                ToDate: $("#toDate").val(),
                TerminalId: $("#terminalId").val(),
                //Type: $("#type").val()
            };

            window.location.href = BASE_URL + '?TerminalId=' + reportModel.TerminalId + '&FromDate=' + reportModel.FromDate + '&ToDate=' + reportModel.ToDate;
            //generatePaymentFile(reportModel);
        }
    });


    function generatePaymentFile(data) {
        $('#myLoader').show();

        //url: BASE_URL + "/Admin/Admin/Report",
        url: BASE_URL + "/Admin/Admin/GenerateNonSapPaymentFile",
            data: { TerminalId: data.TerminalId, FromDate: data.FromDate, ToDate: data.ToDate },
        type: "GET"
        //async: true,
    }
    */
    function downloadDocument(response, extension) {
        if (response.IsSuccess) {
            $.ajax({
                url: BASE_URL + "/" + response.Response,
                method: 'GET',
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    loader.hide();
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = response.Message + '.' + extension;
                    a.click();
                    window.URL.revokeObjectURL(url);

                    swal({
                        title: "Downloaded !",
                        type: "success"
                    }).then(result => {
                        if (result.value) {
                            $('#downloadHistoricalDataModal').modal('hide');
                        }
                    });
                }
            });
        }
        else {
            loader.hide();
            swal({
                title: "Warning !",
                text: response.Message,
                type: "error"
            });

        }
    }
</script>