﻿@model List<string>
@{
    ViewBag.Title = "Report";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<link type="text/css" href="~/Content/JQueryDataTables/css/datatables.min.css" rel="stylesheet" />*@
<link type="text/css" href="~/Content/JQueryDataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    .dataTables_scroll {
        padding-top: 10px !important;
        overflow: auto;
    }
</style>
<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<style>
    .loaderouter {
        width: 100%;
        height: 100%;
        /*position: center;*/
        background: rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        right: 0;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 0;
        /*vertical-align: middle;*/
        overflow: hidden;
    }

    .loaderCustom {
        width: 400px;
        height: 400px;
        margin: auto;
        /*position: absolute;*/
        position: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        opacity: 5;
    }
</style>
@*<div class="loaderouter" id="myLoader" style="display:none;">
        <img src="~/Content/loader/images/Loading_marble.gif" style="background-position: center;width:100%;height:100%;" alt="NoimageFound" />
    </div>*@
<div class="loaderouter" id="divProLoader" style="display:none;">
    <div class="loaderCustom">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="mb-5" style="margin-bottom:100px !important;">
    <div class="col-lg-12">
        @*<div class="row">
                <div class="col-lg-12">
                    <button class="search-icon" id="btnSearchdivToggle" onclick="openSearch();"><span></span></button>
                </div>
            </div>*@
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-12" style="width:100%">
                            <h3 class="float-left" style="padding:15px 0px 5px 0px;">Transactions</h3>
                            <i class="fa fa-search-plus float-right" id="btnSearchdivToggle" onclick="openSearch();" aria-hidden="true" style="padding:15px 0px 5px 15px;font-size:25px;"></i>
                            @*<hr style="margin-bottom:0px;margin-top:0px;" />*@
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row" id="searchOptions" style="display:none;">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="md-form">
                                                    <input placeholder="" type="date" id="fromDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                                                    <label for="fromDate">From</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="md-form">
                                                    <input placeholder="" type="date" id="toDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control datepicker">
                                                    <label for="toDate">To</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <select class="mb-2 form-control colorful-select dropdown-default" id="type" name="Type">
                                                    <option value="ALL" selected>All</option>
                                                    <option value="SAP">SAP</option>
                                                    <option value="NON_SAP">Non SAP</option>
                                                </select>
                                                <label for="type">Type</label>
                                            </div>
                                            <!--<div class="col-lg-4">
                                                <select class="mb-2 form-control colorful-select dropdown-default" id="mop" name="mop">
                                                    <option value="ALL" selected>All</option>
                                                    <option value="CASH">Cash</option>
                                                    <option value="CHEQUE">Cheque</option>
                                                </select>
                                                <label for="type">Type</label>
                                            </div>-->
                                            <div class="col-lg-4">
                                                <input list="terminal" type="text" class="mb-2 form-control" id="terminalId" />
                                                <datalist id="terminal">
                                                    <option value="" selected>All</option>
                                                    @foreach (var item in Model)
                                                    {
                                                        <option value="@item">@item.ToUpper()</option>
                                                    }
                                                </datalist>
                                                @*<select class="mb-2 form-control colorful-select dropdown-default" id="terminalId" name="TerminalId">
                                                        <option value="" selected>All</option>
                                                        @foreach (var item in Model)
                                                        {
                                                            <option value="@item">@item.ToUpper()</option>
                                                        }
                                                    </select>*@
                                                <label for="terminalId">Terminal Id</label>
                                            </div>
                                            <div class="col-lg-4">
                                                <button type="button" class="btn btn-info btn-block waves-effect waves-light" id="btnSearch">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="row">
                            <div class="col-lg-12" id="myLoader" style="display:none;">
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">
                                        <img src="~/Content/loader/images/giphy.gif" style="background-position: center;width:200px;height:200px;" alt="NoimageFound" />
                                    </div>
                                    <div class="col-lg-4"></div>
                                </div>
                            </div>
                            <div id="reportData" class="col-lg-12 data">
                                <table id="transactionTable" class="table table-striped table-bordered table-responsive-xs nowrap hover dt-head-center dt-body-justify">
                                    <thead>
                                        <tr>
                                            <th>Sr.No.</th>
                                            <!--<th>Status</th>-->
                                            <th>KioskId</th>
                                            <th>Type</th>
                                            <th>PaymentDate</th>
                                            <th>Receipt</th>
                                            <th>CA Number</th>
                                            <th>Consumer Name</th>
                                            <th>Bill Amount</th>
                                            <th>Paid Amount</th>
                                            <th>DocumentId</th>
                                            <th>BatchNumber</th>
                                            <th>Updation Message</th>
                                            <th>Updation Status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="downloadHistoricalDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="height:700px;">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Download Excel</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <!--Body-->
            <div class="modal-body" id="downloadHistoricalDataBody">

            </div>
            <!--Footer-->

        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script type="text/javascript" src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/MaterialDesign/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
@*<script type="text/javascript" src="~/Content/bootStrap/js/bootstrap.min.js"></script>*@
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
<script type="text/javascript" src="~/Content/JQueryDataTables/js/datatables.min.js"></script>
<script type="text/javascript" src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    var BASE_URL = window.location.origin;
    //$('.datepicker').pickadate({
    //    format: 'dd-mm-yyyy'
    //});
    $(document).ready(function () {
        //$('.mdb-select').materialSelect();
        //$('[data-toggle="tooltip"]').tooltip();
        var reportModel = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val(),
            TerminalId: $("#terminalId").val(),
            Type: $("#type").val()
        };
        reportDatafromSp(reportModel);
        //reportDatafromSpPagination(reportModel);
        //handleTransactionsDetailPagewise(reportModel);

        //reportData();
        //$('#transactionTable_wrapper').find('label').each(function () {
        //    $(this).parent().append($(this).children());
        //});

        //$('#transactionTable_wrapper .transactionTable_filter').find('input').each(function () {
        //    $('input').attr("placeholder", "Search");
        //    $('input').removeClass('form-control-sm');
        //});
        //$('#transactionTable_wrapper .transactionTable_length').addClass('d-flex flex-row');
        //$('#transactionTable_wrapper .transactionTable_filter').addClass('md-form');
        //$('#transactionTable_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        //$('#transactionTable_wrapper select').addClass('mdb-select');
        ////$('#transactionTable_wrapper .mdb-select').material_select();
        //$('#transactionTable_wrapper .transactionTable_filter').find('label').remove();
    });

    function myFunction() {
        document.getElementById("terminalid").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("terminalId");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    $("#btnSearch").click(function () {
        //debugger
        //var loader = $('#divProLoader');
        //loader.show();
        $('#myLoader').show();
        $("#reportData").hide();
        var reportModel = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val(),
            TerminalId: $("#terminalId").val(),
            //Type: $("#type").val()
        };
        //console.log(reportModel);
        //loader.show();
        openSearch();
        //reportDatafromSp(reportModel);
        reportDatafromSpPagination(reportModel);
    });

    function openSearch() {
        $("#searchOptions").toggle("slow");
        $("#btnSearchdivToggle").toggleClass("fa-search-plus fa-search-minus");
    }

    function reportDatafromSp(data) {
        //debugger
        $("#btnSearch").prop("disabled", true);
        $('#myLoader').show();
        $("#reportData").hide();
        $.ajax({
            //url: BASE_URL + "/Admin/Admin/Report",
            url: BASE_URL + "/Admin/Admin/Report",
            type: "POST",
            data: data,
            dataType: "json",
            async: true,
            //beforeSend: function () {
            //    // Show image container
            //    $("#myLoader").show();
            //    $("#tableSpace").hide();
            //},
            success: function (response) {
                //debugger
                //console.log(response);
                //$("#reportData").html(response);
                handleTransactionsDetail(response);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                loader.hide();
                console.log(response);
            },
            //complete: function (data) {
            //    // Hide image container
            //    $("#tableSpace").show();
            //    $("#myLoader").hide();
            //}
        });
    }

    function reportData() {
        reportTable = $('#transactionTable').DataTable({
            "bServerSide": true,
            "bProcessing": true,
            "aaSorting": [
                ["8", "asc"],
                ["1", "asc"],
                ["2", "asc"],
                ["3", "asc"],
                ["4", "asc"],
                ["5", "asc"],
                ["6", "asc"],
                ["7", "asc"],
                ["0", "asc"],
                ["9", "asc"],
                ["10", "asc"],
                ["11", "asc"],
                ["12", "asc"],
                ["13", "asc"],
                ["14", "asc"]
            ],
            "language": {
                "processing": "Processing... Please wait"
            },
            "sAjaxSource": BASE_URL + "/Admin/Admin/Report",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "FromDate", "value": $("#fromDate").val() });
                aoData.push({ "name": "ToDate", "value": $("#toDate").val() });
                aoData.push({ "name": "TerminalId", "value": $("#terminalId").val() });
                aoData.push({ "name": "Type", "value": $("#type").val() });

                $.ajax({
                    url: sSource,
                    type: "POST",
                    data: aoData,
                    success: fnCallback
                });
            },
            "aoColumns": [
                { "mData": "TerminalId" },
                { "mData": "Usp" },
                {
                    "mData": "Type",
                    "render": function (Type, type, full, meta) {
                        return '<center><span class="badge badge-' + (Type == "RMS" ? "info" : "warning") + '">' + Type + '</span></center>';
                    }
                },
                { "mData": "ConsumerNumber" },
                { "mData": "ReceiptRef" },
                { "mData": "Document_Id" },
                { "mData": "ConsumerName" },
                { "mData": "BillAmount" },
                { "mData": "CollectionAmt" },
                {
                    "mData": "TransactionDate",
                    "render": function (TransactionDate, type, full, meta) {
                        var transDate = new Date(parseInt(TransactionDate.substr(6)));
                        return (transDate.getDate() > 9 ? transDate.getDate() : "0" + transDate.getDate()) + "-" + ((transDate.getMonth() + 1) > 9 ? (transDate.getMonth() + 1) : ("0" + (transDate.getMonth() + 1))) + "-" + transDate.getFullYear() + " " + transDate.getHours() + ":" + transDate.getMinutes() + ":" + transDate.getSeconds();
                    }
                },
                {
                    "mData": "Updationstatus",
                    "render": function (Status, type, full, meta) {
                        return '<center><span class="badge badge-' + (Status == "SUCCESS" ? "success" : Status == "PENDING" ? "warning" : "danger") + '">' + Status + '</span></center>';
                    }
                },
                { "mData": "ReceiptNumber" },
                { "mData": "ReportBatchNo" }
            ],
        });
    }

    function reloadReportData() {
        reportTable.ajax.reload();
    }

    $("#btnDownloadHistoricalData").click(function () {
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/GetHistoricalDataForm",
            type: "GET",
            success: function (response) {
                loader.hide();
                $("#downloadHistoricalDataBody").html(response);
                $('#downloadHistoricalDataModal').modal({ backdrop: 'static', keyboard: false, show: true });
                loader.hide();
            },
            failure: function (response) {
                loader.hide();
            }
        });
    });

    function handleTransactionsDetail(tableData) {
        //$("#overlayHouseKeepingDetail").fadeOut(300);
        $("#transactionTable").DataTable({
            destroy: true,
            autoWidth: false,
            fixedHeader: true,
            data: tableData,
            "bSort": true,
            "order": [[1, "asc"]],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'pageLength', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'csv', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'excel', className: 'btn btn-danger waves-effect waves-light' }
                //{ extend: 'print', className: 'btn btn-danger waves-effect waves-light' }
                //{
                //    extend: 'print',
                //    title: "House Keeping Status",
                //    footer: true,
                //    exportOptions: {
                //        columns: [0, 1, 2, 3, 5, 6, 7, 9, 10, 12, 13, 15, 16],
                //        stripHtml: false
                //    }
                //},
                //{
                //    extend: 'excel',
                //    title: "House Keeping Status",
                //    footer: false,
                //    exportOptions: {
                //        //columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21],
                //        columns: [0, 1, 2, 3, 5, 6, 7, 9, 10, 12, 13, 15, 16, 18, 19, 20, 21],
                //    }
                //}
            ],
            pagingType: "numbers",
            pageLength: 25,
            "lengthMenu": [[25, 50, 100, 150, 200 - 1], [25, 50, 100, 150, 200, "All"]],
            "columns":
                [
                    {
                        "data": null,
                        "sortable": true,
                        render: function (data, type, row, meta) {
                            var rownum = meta.row + meta.settings._iDisplayStart + 1;
                            return '<center>' + rownum + '</center>';
                        }
                    },
                    /*
                    {
                        "render": function (data, type, full, meta) {
                            if (full.Updationstatus == 'SUCCESS') {
                                return '<center><i class="fa fa-circle" aria-hidden="true" style="color:green;" title=' + full.Updationstatus + '></i></center>';
                            } else if (full.Updationstatus == 'PENDING') {
                                return '<center><i class="fa fa-circle" aria-hidden="true" style="color:yellow;" title=' + full.Updationstatus + '></i></center>';
                            }
                            else {
                                return '<center><i class="fa fa-circle" aria-hidden="true" style="color:red;" title=' + full.Updationstatus + '></i></center>';
                            }
                        }
                    },
                    */
                    { "data": "TerminalId" },
                    { "data": "Type" },
                    { "data": "TransactionDate" },
                    { "data": "ReceiptNumber" },
                    { "data": "ConsumerNumber" },
                    { "data": "ConsumerName" },
                    {
                        "data": "BillAmount",
                        "render": function (billamt) {
                            return "<span>&#8377; " + numberWithCommas(billamt) + "</span>";
                        }
                    },
                    {
                        "data": "CollectionAmt",
                        "render": function (collamt) {
                            return "<span>&#8377; " + numberWithCommas(collamt) + "</span>";
                        }
                    },
                    { "data": "Document_Id" },
                    { "data": "ReportBatchNo" },
                    { "data": "UpdationMessage" },
                    {
                        "render": function (data, type, full, meta) {
                            if (full.Updationstatus == 'SUCCESS') {
                                //return '<i class="fa fa-circle" aria-hidden="true" style="color:green;" title=' + full.Updationstatus + '></i>';
                                return '<span class="badge badge-success">' + full.Updationstatus + '</span>';
                            } else if (full.Updationstatus == 'PENDING') {
                                //return '<i class="fa fa-circle" aria-hidden="true" style="color:yellow;" title=' + full.Updationstatus + '></i>';
                                return '<span class="badge badge-warning">' + full.Updationstatus + '</span>';
                            }
                            else {
                                //return '<i class="fa fa-circle" aria-hidden="true" style="color:red;" title=' + full.Updationstatus + '></i>';
                                return '<span class="badge badge-danger">' + full.Updationstatus + '</span>';
                            }
                        }
                    }

                ],
            columnDefs: [
                { className: 'text-right', targets: [0, 4, 7, 8, 10] },
                { className: 'text-center', targets: [1, 2, 3, 5, 6, 7, 9, 11, 12] },
                //{ className: 'text-left', targets: [4, 8] },
            ]
            //"columnDefs": [
            //    { "width": "48px", "targets": 0 },
            //    { "width": "42px", "targets": 1 },
            //    { "targets": [3, 7, 9, 13, 15], visible: false },
            //]
        });
        $('.dataTable').wrap('<div class="dataTables_scroll" />');
        $('#myLoader').hide();
        $("#reportData").show();
        $("#btnSearch").prop("disabled", false);
    }

    function numberWithCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }

    function reportDatafromSpPagination(data) {
        debugger
        $("#btnSearch").prop("disabled", true);
        $('#myLoader').show();
        $("#reportData").hide();

        $.ajax({
            //url: BASE_URL + "/Admin/Admin/Report",
            url: BASE_URL + "/Admin/Admin/ReportPagination",
            type: "POST",
            data: data,
            draw: draw,
            length: pageLength,
            dataType: "json",
            serverSide: true,
            async: true,           

            success: function (response) {
                //debugger
                //console.log(response);
                //$("#reportData").html(response);
                handleTransactionsDetailPagewise(response);
            },
            failure: function (response) {
                $("#btnSearch").prop("disabled", false);
                loader.hide();
                console.log(response);
            },
        });
    }

    function handleTransactionsDetailPagewise(tableData) {
        debugger
        var reportModel = {
            FromDate: $("#fromDate").val(),
            ToDate: $("#toDate").val(),
            TerminalId: $("#terminalId").val(),
            Type: $("#type").val(),
            draw: draw,
            length: pageLength            
        };
        console.log(reportModel);
        //$("#overlayHouseKeepingDetail").fadeOut(300);
        $("#transactionTable").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": BASE_URL + "/Admin/Admin/ReportPagination",
                type: "POST",
                data: reportModel,
                dataType: "json",
                serverSide: true,
                async: true,
            },
            pagingType: "numbers",
            pageLength: 25,
            "lengthMenu": [[25, 50, 100, 150, 200 - 1], [25, 50, 100, 150, 200, "All"]],
            "columns":
                [
                    {
                        "data": null,
                        "sortable": true,
                        render: function (data, type, row, meta) {
                            var rownum = meta.row + meta.settings._iDisplayStart + 1;
                            return '<center>' + rownum + '</center>';
                        }
                    },
                    { "data": "TerminalId" },
                    { "data": "Paymentmode" },
                    { "data": "TransactionDate" },
                    { "data": "ReceiptNumber" },
                    { "data": "ConsumerNumber" },
                    { "data": "ConsumerName" },
                    {
                        "data": "BillAmount",
                        "render": function (billamt) {
                            return "<span>&#8377; " + numberWithCommas(billamt) + "</span>";
                        }
                    },
                    {
                        "data": "CollectionAmt",
                        "render": function (collamt) {
                            return "<span>&#8377; " + numberWithCommas(collamt) + "</span>";
                        }
                    },
                    { "data": "Document_Id" },
                    { "data": "ReportBatchNo" },
                    { "data": "UpdationMessage" },
                    {
                        "render": function (data, type, full, meta) {
                            if (full.Updationstatus == 'SUCCESS') {
                                //return '<i class="fa fa-circle" aria-hidden="true" style="color:green;" title=' + full.Updationstatus + '></i>';
                                return '<span class="badge badge-success">' + full.Updationstatus + '</span>';
                            } else if (full.Updationstatus == 'PENDING') {
                                //return '<i class="fa fa-circle" aria-hidden="true" style="color:yellow;" title=' + full.Updationstatus + '></i>';
                                return '<span class="badge badge-warning">' + full.Updationstatus + '</span>';
                            }
                            else {
                                //return '<i class="fa fa-circle" aria-hidden="true" style="color:red;" title=' + full.Updationstatus + '></i>';
                                return '<span class="badge badge-danger">' + full.Updationstatus + '</span>';
                            }
                        }
                    }

                ],
            columnDefs: [
                { className: 'text-right', targets: [0, 4, 7, 8, 10] },
                { className: 'text-center', targets: [1, 2, 3, 5, 6, 7, 9, 11, 12] },
                //{ className: 'text-left', targets: [4, 8] },
            ]
            //"columnDefs": [
            //    { "width": "48px", "targets": 0 },
            //    { "width": "42px", "targets": 1 },
            //    { "targets": [3, 7, 9, 13, 15], visible: false },
            //]
        });
        $('.dataTable').wrap('<div class="dataTables_scroll" />');
        $('#myLoader').hide();
        $("#reportData").show();
        $("#btnSearch").prop("disabled", false);
    }
</script>