﻿@model List<PSPCL_Web_Module.InfraStructure.EF.Entity.SiteList>
@{
    ViewBag.Title = "Site List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link type="text/css" href="~/Content/JQueryDataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link type="text/css" href="~/Content/architectui/css/main.css" rel="stylesheet" />
<style>
    .loaderouter {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        right: 0;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 0;
        vertical-align: middle;
        overflow: hidden;
    }

    .loaderCustom {
        width: 65px;
        height: 65px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }

    .handOnHover {
        cursor: pointer;
    }
</style>
<div class="col-lg-12" id="myLoader" style="display:none;background-image:url('../../../../Content/loader/images/Loading.gif')" >    
</div>

<div class="loaderouter" id="divProLoader" style="display:none;">
    <div class="loaderCustom">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" style="margin-bottom: 100px !important;">
    <h2 style="padding:20px;"><i class="header-icon lnr-apartment icon-gradient bg-love-kiss">List of all sites</i></h2>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12" style="overflow:auto;">
                @if (Model.Count > 0)
                {
                    <table id="sitelist" class="table table-striped table-bordered table-responsive-xs" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><center>S.No.</center></th>
                                <th><center>TSI Site Id</center></th>
                                <th><center>Kiosk Id</center></th>
                                <th><center>Location</center></th>
                                <th><center>Division</center></th>
                                <th><center>Status</center></th>
                                <th><center>Live Date</center></th>
                                <th><center>Edit</center></th>
                                <th><center>Action</center></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td nowrap><center>@i</center></td>
                                    <td nowrap><center>@item.SiteID</center></td>
                                    <td nowrap><center>@item.MachineID</center></td>
                                    <td nowrap><center>@item.Distt</center></td>
                                    <td nowrap><center>@item.City</center></td>
                                    <td nowrap><center><span class="badge badge-@(item.MachineStatus=="ACTIVE" ? "success" : "danger")">@item.MachineStatus</span></center></td>
                                    <td nowrap><center>@(item.LiveDate ?? item.LiveDate)</center></td>
                                    <td nowrap><center><i class="fas fa-edit handOnHover" onclick="getSiteDetail('@item.SiteID','@item.MachineID');"></i></center></td>

                                    <td nowrap>
                                        <center>
                                            @if (item.MachineStatus == "ACTIVE")
                                            {
                                                <button type="button" id="btnStopSite" class="btn btn-sm btn-danger waves-effect waves-light" onclick="stopSite('@item.SiteID','@item.MachineID');">InActive</button>
                                            }
                                            else
                                            {
                                                <button type="button" id="btnLiveSite" class="btn btn-sm btn-success waves-effect waves-light" onclick="liveSite('@item.SiteID','@item.MachineID');">Active</button>
                                            }
                                        </center>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Sorry, </strong> No Records found.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Modal: modalCart -->
<div class="modal fade bd-example-modal-sm" id="siteDetailModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel"><i class="header-icon lnr-apartment icon-gradient bg-love-kiss">Edit Site Detail</i></h2>
                @*<h4 class="modal-title" id="exampleModalLongTitle">Site Detail</h4>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="siteDetailBody">

            </div>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script type="text/javascript" src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/MaterialDesign/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="~/Content/bootStrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Content/architectui/scripts/main.js"></script>
<script type="text/javascript" src="~/Content/JQueryDataTables/js/datatables.min.js"></script>
<script type="text/javascript" src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    var BASE_URL = window.location.origin;
    $(document).ready(function () {
        $('#sitelist').DataTable({
            dom: 'Bfrtip',
            buttons: [
                { extend: 'pageLength', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'csv', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'excel', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'print', className: 'btn btn-danger waves-effect waves-light' }
            ],
            pagingType: "numbers",
            pageLength: 10,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
        });
        //$('#topUpRequest_wrapper').find('label').each(function () {
        //    $(this).parent().append($(this).children());
        //});
        //$('#topUpRequest_wrapper .dataTables_filter').find('input').each(function () {
        //    $('input').attr("placeholder", "Search");
        //    $('input').removeClass('form-control-sm');

        //});
        //$('#topUpRequest_wrapper .dataTables_length').addClass('d-flex flex-row');
        //$('#topUpRequest_wrapper .dataTables_filter').addClass('md-form');
        //$('#topUpRequest_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        //$('#topUpRequest_wrapper select').addClass('mdb-select');
        //$('#topUpRequest_wrapper .mdb-select').material_select();
        //$('#topUpRequest_wrapper .dataTables_filter').find('label').remove();
    });

    function liveSite(siteId, machineId) {
        $("#btnLiveSite").prop("disabled", true);
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/LiveSite",
            type: "GET",
            data: { SiteID: siteId, MachineID: machineId },
            success: function (response) {
                loader.hide();
                if (response.IsSuccess) {
                    swal({
                        title: "Thanks !",
                        text: response.Message,
                        type: "success"
                    }).then(result => {
                        if (result.value) {
                            window.location = BASE_URL + "/Admin/Admin/SiteList";
                        }
                    });
                }
                else {
                    swal({
                        title: "Warning !",
                        text: response.Message,
                        type: "error"
                    });
                    $("#btnLiveSite").prop("disabled", false);
                }
            },
            failure: function (response) {
                loader.hide();
                $("#btnLiveSite").prop("disabled", false);
                console.log(response);
            }
        });
    }

    function stopSite(siteId, machineId) {
        $("#btnStopSite").prop("disabled", true);
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/StopSite",
            type: "GET",
            data: { SiteID: siteId, MachineID: machineId },
            success: function (response) {
                loader.hide();
                if (response.IsSuccess) {
                    swal({
                        title: "Thanks !",
                        text: response.Message,
                        type: "success"
                    }).then(result => {
                        if (result.value) {
                            window.location = BASE_URL + "/Admin/Admin/SiteList";
                        }
                    });
                }
                else {
                    swal({
                        title: "Warning !",
                        text: response.Message,
                        type: "error"
                    });
                    $("#btnStopSite").prop("disabled", false);
                }
            },
            failure: function (response) {
                loader.hide();
                $("#btnStopSite").prop("disabled", false);
                console.log(response);
            }
        });
    }

    function getSiteDetail(tsiSiteId, kioskId) {
        debugger
        var loader = $('#divProLoader');
        loader.show();
        $.ajax({
            url: BASE_URL + "/Admin/Admin/GetSiteDetail",
            type: "GET",
            data: { SiteID: tsiSiteId, MachineID: kioskId },
            success: function (response) {
                debugger
                loader.hide();
                $("#siteDetailBody").html(response);
                $('#siteDetailModal').modal('show');
            },
            failure: function (response) {
                loader.hide();
                console.log(response);
            }
        });
    }

    function clearError(errIdName) {
        $('#' + errIdName).text(" ");
        $('#' + errIdName).css("display", "none");
    }
</script>
