﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using PSPCL_Web_Module.Utilities
@model List<PSPCL_Web_Module.InfraStructure.EF.Entity.PSPCL_KSK_BATCH_DTLS>


@if (Model.Count > 0)
{

    <div class="col-lg-12">
        @*<div class="row">
                <a href="@Url.Action("BatchCloseExcelReport","Admin",new { Area = "Admin"})" class="btn btn-danger waves-effect waves-light">Export to Excel</a>
            </div>
            <br />*@
        <div class="row">
            <div class="col-lg-12" style="overflow:scroll;">
                <table id="batchCloseDataTable" class="table table-striped table-bordered table-responsive-xs pull-left" cellspacing="0" width="100%">
                    <thead class="nowrap">
                        <tr>
                            <th nowrap><center>S.No.</center></th>
                            <th nowrap><center>Terminal Id</center></th>
                            <th nowrap><center>Batch Number</center></th>
                            <th nowrap><center>Batch Close Date-Time</center></th>
                            <th nowrap><center>Start Receipt</center></th>
                            <th nowrap><center>End Receipt</center></th>
                            <th nowrap><center>Cash Bills</center></th>
                            <th nowrap><center>Cash Amount</center></th>
                            <th nowrap><center>Cheque Bills</center></th>
                            <th nowrap><center>Cheque Amount</center></th>
                            <th nowrap><center>Total Bills</center></th>
                            <th nowrap><center>Total Amount</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><center>@i</center></td>
                                <td><center>@item.PSPCL_KSK_ID</center></td>
                                <td><center>@item.Batch_No</center></td>
                                <td><center>@item.Batch_Close_Date</center></td>
                                <td><center>@item.Start_Rcpt</center></td>
                                <td><center>@item.End_Rcpt</center></td>
                                <td><center>@item.Cash_Bills</center></td>
                                <td><center>@item.Cash_Amount</center></td>
                                <td><center>@item.Chq_Bills</center></td>
                                <td><center>@item.Chq_Amount</center></td>
                                <td><center>@item.Total_Bills</center></td>
                                <td><center>@item.Total_Amount</center></td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
          
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <strong>Sorry, </strong> No Records found.
    </div>
}


<script type="text/javascript">
    var BASE_URL = window.location.origin;
    $(document).ready(function () {
        $('#batchCloseDataTable').DataTable();        
    });

</script>

