﻿@model List<string>
@using System.Security.Claims
@using Microsoft.AspNet.Identity
<style>
    .loaderouter {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        right: 0;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 0;
        vertical-align: middle;
        overflow: hidden;
    }

    .loaderCustom {
        width: 65px;
        height: 65px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }
</style>
<div class="loaderouter" id="divProLoader" style="display:none;">
    <div class="loaderCustom">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:0px;margin-right:0px;">
    <div class="col-lg-6">
        <select class="mb-2 form-control colorful-select dropdown-default" id="typeHistoricalForm">
            <option value="ALL" selected>All</option>
            <option value="APDRP">APDRP</option>
            <option value="RMS">RMS</option>
        </select>
        <label>Type</label>
    </div>
    <div class="col-lg-6">
        <select class="mb-2 form-control colorful-select dropdown-default" id="terminalIdHistoricalForm">
            <option value="" selected>All</option>
            @foreach (var item in Model)
            {
                <option value="@item">@item.ToUpper()</option>
            }
        </select>
        <label>Terminal Id</label>
    </div>
</div>

<div class="row" style="margin-left:0px;margin-right:0px;">
    <div class="col-lg-6">
        <div class="md-form">
            <input placeholder="" type="date" id="fromDateHistoricalForm" class="form-control datepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            <label for="fromDate" class="active">From</label>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="md-form">
            <input placeholder="" type="date" id="toDateHistoricalForm" class="form-control datepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            <label for="toDate" class="active">To</label>
        </div>
    </div>
</div>
<div class="row" style="margin-left:0px;margin-right:0px;">
    <div class="col-lg-4">
        <button type="button" class="btn btn-warning btn-block waves-effect waves-light" id="btnStopDownload" disabled>Stop Download</button>
    </div>
    @*<div class="col-lg-3">
            <button type="button" class="btn btn-success btn-block waves-effect waves-light" id="btnDownload">Download Excel</button>
        </div>*@
    <div class="col-lg-4">
        <button type="button" class="btn btn-success btn-block waves-effect waves-light" id="btnDownloadCsv">Download Csv</button>
    </div>
    <div class="col-lg-4">
        <button type="button" class="btn btn-danger btn-block waves-effect waves-light" data-dismiss="modal" aria-label="Close" id="btnCloseModel">Close</button>
    </div>
</div>


<section class="excelReportSection" style="display:none;">
    <ul class="list-group" style="margin-top:30px; margin-bottom:30px;">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total Transaction Data
            <span class="badge badge-success badge-pill" id="totalTransaction">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total Remaining Transaction Data
            <span class="badge badge-danger badge-pill" id="totalRemainigTransaction">0</span>
        </li>
    </ul>

    <h4>Please wait, your request is <span id="statusMessage">under processing</span> ...</h4>

    <div class="progress md-progress" style="height: 20px">
        <div class="progress-bar" role="progressbar" style="width: 0%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
</section>



<script src="~/MaterialDesign/js/jquery-3.3.1.min.js"></script>
<script src="~/MaterialDesign/js/jquery.dataTables.min.js"></script>
<script src="~/MaterialDesign/js/dataTables.buttons.min.js"></script>
@*<script src="~/MaterialDesign/js/dataTables.bootstrap4.min.js"></script>*@
<script src="~/MaterialDesign/js/sweetalert2.all.min.js"></script>
<script src="~/Content/architectui/scripts/main.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@

<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    var BASE_URL = window.location.origin;
    var loader = $('#divProLoader');
    var ajaxRequest = null;
    //$('.datepicker-form').pickadate({
    //    format: 'dd-mm-yyyy'
    //});

    $(document).ready(function () {
        //$('.mdb-select-form').materialSelect();
        var statusHub= $.connection.WaitingStatusHub;
        // Create a function that the hub can call back to display messages.

        statusHub.client.sendWaitingStatus = function (total, remaining, percentage, loginUser) {
            var currentUser = '@(((ClaimsIdentity)User.Identity).FindFirstValue(ClaimTypes.Sid))';
            if (loginUser.toUpperCase() == currentUser.toUpperCase()) {
                loader.hide();
                $(".excelReportSection").css("display", "block");
                $("#btnCloseModel").prop("disabled", true);
                $("#btnStopDownload").prop("disabled", false);
                $("#totalTransaction").html(total);
                $("#totalRemainigTransaction").html(remaining);
                $('.progress-bar').css("width", percentage + "%");
                $('.progress-bar').html(percentage + "%");
                if (percentage <= 20) {
                    $('.md-progress .progress-bar').css("background-color", "#f44336");  // red
                }
                else if (percentage > 20 && percentage <= 40) {
                    $('.md-progress .progress-bar').css("background-color", "#ff5722"); // orange
                }
                else if (percentage > 40 && percentage <= 60) {
                    $('.md-progress .progress-bar').css("background-color", "#8bc34a"); // light green
                }
                else if (percentage > 60 && percentage <= 80) {
                    $('.md-progress .progress-bar').css("background-color", "#4caf50"); // green
                }
                else if (percentage > 80 && percentage <= 100) {
                    if (percentage > 95) {
                        $("#statusMessage").html("almost complete");
                    }
                    if (percentage == 100) {
                        $("#statusMessage").html("completed");
                        loader.show();
                    }
                    $('.md-progress .progress-bar').css("background-color", "#009688"); // drak green
                }

            }
        };

        $.connection.hub.start().done(function () {
            // initialization logic that has to occur after SignalR startup
        });

        $.connection.hub.error(function (err) {
            console.log("HUB ERROR : " + err);
        });

    });

    $("#btnDownload").click(function () {
        $("#btnDownload").prop("disabled", true);
        $.connection.hub.start().done(function () {
            // initialization logic that has to occur after SignalR startup
        });
        loader.show();
        var formData = {
            FromDate: $("#fromDateHistoricalForm").val(),
            ToDate: $("#toDateHistoricalForm").val(),
            TerminalId: $("#terminalIdHistoricalForm").val(),
            Type: $("#typeHistoricalForm").val()
        };
        ajaxRequest = $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionExcelReport",
            type: "POST",
            data: formData,
            timeout: 600000,
            success: function (response) {
                $("#btnDownload").prop("disabled", false);
                downloadDocument(response, 'xlsx');
                loader.hide();
            },
            failure: function (response) {
                $("#btnDownload").prop("disabled", false);
                console.log(response);
                loader.hide();
            }
        });
    });

    $("#btnStopDownload").click(function () {
        $("#btnCloseModel").prop("disabled", false);
        $("#btnDownload").prop("disabled", false);
        $("#btnStopDownload").prop("disabled", true);
        ajaxRequest.abort();
        $.connection.hub.stop();
    });


    $("#btnDownloadCsv").click(function () {
        $("#btnDownloadCsv").prop("disabled", true);
        $("#btnDownload").prop("disabled", true);
        loader.show();
        var formData = {
            FromDate: $("#fromDateHistoricalForm").val(),
            ToDate: $("#toDateHistoricalForm").val(),
            TerminalId: $("#terminalIdHistoricalForm").val(),
            Type: $("#typeHistoricalForm").val()
        };
        ajaxRequest = $.ajax({
            url: BASE_URL + "/Admin/Admin/TransactionCsvReport",
            type: "POST",
            data: formData,
            timeout: 600000,
            success: function (response) {
                $("#btnDownload").prop("disabled", false);
                $("#btnDownloadCsv").prop("disabled", false);
                downloadDocument(response, 'csv');
                loader.hide();
            },
            failure: function (response) {
                $("#btnDownload").prop("disabled", false);
                $("#btnDownloadCsv").prop("disabled", false);
                //console.log(response);
                loader.hide();
            }
        });
    });

    function downloadDocument(response,extension) {
        if (response.IsSuccess) {
            $.ajax({
                url: BASE_URL + "/" + response.Response,
                method: 'GET',
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    loader.hide();
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = response.Message +'.'+ extension;
                    a.click();
                    window.URL.revokeObjectURL(url);

                    swal({
                        title: "Downloaded !",
                        type: "success"
                    }).then(result => {
                        if (result.value) {
                            $('#downloadHistoricalDataModal').modal('hide');
                        }
                    });
                }
            });
        }
        else {
            loader.hide();
            swal({
                title: "Warning !",
                text: response.Message,
                type: "error"
            });

        }
    }
</script>

