﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using PSPCL_Web_Module.Utilities
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <!-- Material Design Icons -->
    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link href="~/MaterialDesign/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/MaterialDesign/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="~/MaterialDesign/css/dataTables.bootstrap4.min.css" rel="stylesheet" />   

</head>
<body class="fixed-sn white-skin">
    <!--Double navigation-->
    <header>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 fixed">
            <ul class="custom-scrollbar">
                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light">
                        <a href="#"><img src="~/Images/tsi.png" class="img-fluid flex-center" style="padding-top: 0%;padding-bottom: 0%;padding: 0% 75px;"></a>
                    </div>
                </li>
                <!--/. Logo -->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("Index","Admin", new {Area = "Admin" })"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>

                        @if (((ClaimsIdentity)User.Identity).FindFirstValue(ClaimTypes.Role) == RoleType.SuperAdmin)
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-users"></i>User Management<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("AddUserView", "Admin", new { Area = "Admin" })"><i class="fas fa-angle-double-right"></i>Add User</a>
                                        </li>

                                        <li>
                                            <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("GetAllUser", "Admin", new { Area = "Admin" })"><i class="fas fa-angle-double-right"></i>View User</a>
                                        </li>
                                        <li>
                                            <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("GetAllSubAdmin","Admin", new {Area = "Admin" })"><i class="fas fa-angle-double-right"></i>View Sub-Admin</a>
                                        </li>
                                        @*<li>
                                                <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("GetAllAdmin","Admin", new {Area = "Admin" })"><i class="fas fa-angle-double-right"></i>View Admin</a>
                                            </li>*@
                                    </ul>
                                </div>
                            </li>
                        }

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-university"></i>Site Management<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul class="list-unstyled">
                                    @if (((ClaimsIdentity)User.Identity).FindFirstValue(ClaimTypes.Role) == RoleType.SuperAdmin)
                                    {
                                        <li>
                                            <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("AddSiteView", "Admin", new { Area = "Admin" })"><i class="fas fa-angle-double-right"></i>Add Site</a>
                                        </li>
                                    }
                                    <li>
                                        <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("SiteList","Admin", new {Area = "Admin" })"><i class="fas fa-angle-double-right"></i>All Site</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="far fa-copy"></i>Reports<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("BatchCloseView","Admin", new {Area = "Admin" })"><i class="fas fa-angle-double-right"></i>Batch Close</a>
                                    </li>
                                    <li>
                                        <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("AttendanceView","Admin", new {Area = "Admin" })"><i class="fas fa-angle-double-right"></i>Attendance</a>
                                    </li>
                                    <li>
                                        <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("unclearedCollectionView","Admin", new {Area = "Admin" })"><i class="fas fa-angle-double-right"></i>Uncleared Collection Summary</a>
                                    </li>

                                    <li>
                                        <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("ReportView","Admin", new {Area = "Admin" })"><i class="fas fa-angle-double-right"></i>Transaction Report</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r" href="@Url.Action("ChangePasswordView","Account", new {Area = "Account" })"><i class="fas fa-unlock"></i>Change Password</a>
                        </li>
                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav navbar-dark" style="background-color:rgb(192,38,43);">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fa fa-bars white-text"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p style="color:#fff;">Punjab State Power Corporation Limited</p>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @(((ClaimsIdentity)User.Identity).FindFirst("FullName").Value)
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                        @using (Html.BeginForm("Logout", "Account", new { Area = "Account" }, FormMethod.Post, new { id = "logoutForm", @style = "width:142px;" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        }
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->
    </header>
    <!--/.Double navigation-->
    <!--Main layout-->
    <main>
        @RenderBody()
    </main>

    <!--/Main layout-->
    <!--Footer-->
    <footer class="page-footer text-md-left" style="position:fixed; width:100%;">
        <!--Copyright-->
        <div class="footer-copyright py-3">
            <div class="container-fluid" style="text-align:right">
                <strong>Transaction Solutions International (India) Private Limited</strong>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
    <!-- JQuery -->
    <script type="text/javascript">
        $(document).ready(function () {
            var BASE_URL = window.location.origin;
        });


        // SideNav Initialization
        $(".button-collapse").sideNav();

        var container = document.querySelector('.custom-scrollbar');
        Ps.initialize(container, {
            wheelSpeed: 2,
            wheelPropagation: true,
            minScrollbarLength: 20
        });
    </script>
</body>
</html>
