﻿@model List<PSPCL_Web_Module.Models.Area.Admin.SpTransactionDto>

@if (Model.Count > 0)
{
    @*<div class="row">
            <a href="@Url.Action("TransactionExcelReport","Admin",new { Area = "Admin"})" class="btn btn-danger waves-effect waves-light">Download Historical Data</a>
        </div>
        <hr />
    *@
    <div class="row">
        <div class="col-lg-12">
            <table id="transactionTable" class="table table-striped table-bordered table-responsive-xs">
                <thead>
                    <tr>
                        <th nowrap>Sr.No.</th>
                        <th nowrap>KioskId</th>
                        <th nowrap>Type</th>
                        <th nowrap>PaymentDate</th>
                        <th>Receipt</th>
                        @*<th>Receipt Reference</th>*@
                        <th nowrap>CA Number</th>
                        <th nowrap>Consumer Name</th>
                        <th nowrap>Bill Amount</th>
                        <th nowrap>Paid Amount</th>
                        <th nowrap>DocumentId</th>
                        <th nowrap>BatchNumber</th>
                        <th nowrap>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td nowrap><center>@i</center></td>
                            <td nowrap><center>@item.TerminalId</center></td>
                            <td nowrap><center>@item.Type</center></td>
                            <td nowrap><center>@item.TransactionDate</center></td>
                            <td nowrap><center>@item.ReceiptNumber</center></td>
                            @*<td><center>@item.ReceiptRef</center></td>*@
                            <td nowrap><center>@item.ConsumerNumber</center></td>
                            <td nowrap><center>@item.ConsumerName</center></td>
                            <td nowrap><center>@item.BillAmount</center></td>
                            <td nowrap><center>@item.CollectionAmt</center></td>
                            <td nowrap><center><span class="badge-@(item.Document_Id !="NA"?"success":"warning")">@(item.Document_Id != "NA" ? item.Document_Id : "Not Applicable")</span></center></td>
                            <td nowrap><center>@item.ReportBatchNo</center></td>
                            <td nowrap><center><span class="badge badge-@(item.Updationstatus.ToUpper() == "SUCCESS" ? "success" : item.Updationstatus.ToUpper() == "PENDING"? "warning":"danger")"> @(item.Updationstatus.ToUpper())</span></center></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <strong>Sorry, </strong> No Transactions found.
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#transactionTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                { extend: 'pageLength', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'csv', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'excel', className: 'btn btn-danger waves-effect waves-light' },
                { extend: 'print', className: 'btn btn-danger waves-effect waves-light' }
            ],
            pagingType: "numbers",
            pageLength: 10,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
        });
    });

    //var reportTable = null;
    //$(document).ready(function () {
    //    $('#transactionTable').DataTable({
    //        dom: 'Bfrtip',
    //        buttons: [
    //            //{ extend: 'csv', className: 'btn btn-danger waves-effect waves-light' },
    //            { extend: 'excel', className: 'btn btn-danger waves-effect waves-light' },
    //            { extend: 'pdf', className: 'btn btn-danger waves-effect waves-light' },
    //            //{ extend: 'print', className: 'btn btn-danger waves-effect waves-light' }
    //        ],
    //        //"pagingType": "scrolling"
    //    });
    //    //reportDataNew();
    //});

    function reportDataNew() {
        reportTable = $('#transactionTable').DataTable({
            "serverSide": "true",
            "order": [0, "asc"],
            "processing": "true",
            "language": {
                "processing": "Processing... Please wait"
            },
            "length": 100,
            "ajax": {
                "url": BASE_URL + "/Admin/Admin/ReportTest",
                "type": "POST",
                "datatype": "json",
                "data": function (reportData) {
                    return reportData = {
                        FromDate: $("#fromDate").val(),
                        ToDate: $("#toDate").val(),
                        TerminalId: $("#terminalId").val(),
                        Type: $("#type").val()
                    };
                }
            },
            "columns": [
                { "data": "TerminalId" },
                { "data": "Type" },
                { "data": "ConsumerNumber" },
                { "data": "ReceiptRef" },
                { "data": "OrderId" },
                { "data": "ConsumerName" },
                { "data": "BillAmount" },
                { "data": "CollectionAmt" },
                { "data": "TransactionDate" },
                { "data": "Charges" },
                { "data": "GST" },
                { "data": "TDS" },
                { "data": "GstTds" },
                { "data": "Status" },
            ],
        });

    }
    function reloadReportDataNew() {
        reportTable.ajax.reload();
        //  reportDataNew();
    }
    //$("#btnDownloadHistoricalData").click(function () {
    //    var loader = $('#divProLoader');
    //    loader.show();
    //    $.ajax({
    //        url: BASE_URL + "/Admin/Admin/GetHistoricalDataForm",
    //        type: "GET",
    //        success: function (response) {
    //            loader.hide();
    //            $("#downloadHistoricalDataBody").html(response);
    //            $('#downloadHistoricalDataModal').modal({ backdrop: 'static', keyboard: false, show: true });
    //        },
    //        failure: function (response) {
    //            loader.hide();
    //        }
    //    });
    //});
</script>

