﻿@model PSPCL_Web_Module.InfraStructure.EF.Entity.SiteList

<input type="hidden" value="@Model.ID" id="hiddenSiteId" />
<div class="row">
    <div class="col-md-3 mb-3">
        <label for="siteID">Site Id</label>
        <input type="text" class="form-control" id="siteID" value="@Model.SiteID" onchange="clearError('siteIDErr')" required>
        <small id="siteIDErr" style="display:none;"></small>
    </div>
    <div class="col-md-3 mb-3">
        <label for="machineID">MachineID</label>
        <input type="text" class="form-control" id="machineId" value="@Model.MachineID" onchange="clearError('machineIdErr')" required>
        <small id="machineIdErr" style="display:none;"></small>
    </div>
    <div class="col-md-3 mb-3">
        <label for="serialNo">Kiosk Serial Number</label>
        <div class="input-group">
            <input type="text" class="form-control" id="serialNo" name="SerialNo" value="@Model.SerialNo" aria-describedby="inputGroupPrepend" onchange="clearError('serialNoErr')" required>
            <small id="serialNoErr" style="display:none;"></small>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <label for="liveDate">Live Date</label>
        <div class="input-group">
            <input placeholder="" type="date" class="form-control datepicker" id="liveDate" value="@(Model.LiveDate?.ToString("yyyy-MM-dd"))" onchange="clearError('liveDateErr')" required>
            <small id="liveDateErr" style="display:none;"></small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        <label for="city">Division</label>
        <div class="input-group">
            <input type="text" class="form-control" id="city" value="@Model.City" aria-describedby="inputGroupPrepend" required>
        </div>
        <small id="cityErr" style="display:none;"></small>
    </div>
    <div class="col-md-4 mb-3">
        <label for="distt">City or District</label>
        <input type="text" class="form-control" id="distt" value="@Model.Distt" onchange="clearError('locationErr')" required>
    </div>
    <small id="locationErr" style="display:none;"></small>
    <div class="col-md-4 mb-3">
        <label for="mode">Mode</label>
        <div class="input-group">
            <input class="form-control" type="text" list="modelist" id="mode" value="@Model.Mode.ToString()" onchange="clearError('modeErr')" required />
            <datalist id="modelist">
                <option value="SAP">SAP</option>
                <option value="NONSap">Non Sap</option>
                <option value="Both">Both</option>
            </datalist>
            @*<input type="text" class="form-control" id="Mode" placeholder="Operating Mode" aria-describedby="inputGroupPrepend" required>*@
        </div>
        <small id="modeErr" style="display:none;"></small>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-3">
        <label for="kioskAddress">Complete Address</label>
        <input type="text" class="form-control" id="kioskAddress" value="@Model.KioskAddress" onchange="clearError('kioskAddressErr')" required>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="text-center mt-4">
            <button type="button" class="btn btn-success waves-effect waves-light btn-lg" id="btnEditSite">Update Site Detail</button>
        </div>
    </div>
</div>

<!--
    <div class="row">
        <div class="col-lg-3">
            <div class="md-form">
                <i class="fas fa-university prefix grey-text" aria-hidden="true"></i>
                <input type="text" id="siteID" class="form-control" value="@Model.SiteID" onchange="clearError('siteIDErr')" readonly>
                <label for="siteID" class="active">Site Id</label>
                <small id="siteIDErr" style="display:none;"></small>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="md-form">
                <i class="fas fa-desktop prefix grey-text" aria-hidden="true"></i>
                <input type="text" id="machineId" class="form-control" value="@Model.MachineID" onchange="clearError('machineIdErr')" readonly>
                <label for="machineId" class="active">Kiosk Id</label>
                <small id="machineIdErr" style="display:none;"></small>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="md-form">
                <span class="prefix grey-text">#</span>
                <input type="text" id="serialNo" class="form-control" value="@Model.SerialNo" onchange="clearError('serialNoErr')">
                <label for="serialNo" class="active">Serial Number</label>
                <small id="serialNoErr" style="display:none;"></small>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="md-form">
                <span class="prefix grey-text">#</span>
                <input type="text" id="serialNo" class="form-control" value="@Model.SerialNo" onchange="clearError('serialNoErr')">
                <label for="serialNo" class="active">Serial Number</label>
                <small id="serialNoErr" style="display:none;"></small>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-4">
        <div class="md-form">
            <i class="fas fa-map-marker-alt prefix grey-text" aria-hidden="true"></i>
            <input type="text" id="location" class="form-control" value="@Model.Distt" onchange="clearError('locationErr')">
            <label for="location" class="active">Location</label>
            <small id="locationErr" style="display:none;"></small>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="md-form">
            <i class="fas fa-map-marker-alt prefix grey-text" aria-hidden="true"></i>
            <input type="text" id="division" class="form-control" value="@Model.City" onchange="clearError('divisionErr')">
            <label for="division" class="active">Division</label>
            <small id="divisionErr" style="display:none;"></small>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="md-form">
            <span class="prefix grey-text">#</span>
            <input type="text" id="mode" class="form-control" value="@Model.Mode" onchange="clearError('modeErr')">
            @*<small style="color:red;">SAP/ Non-SAP/ Both</small>*@
            <label for="mode" class="active">Type (SAP/ Non-SAP/ Both)</label>
            <small id="modeErr" style="display:none;"></small>
        </div>
        @*<div class="dropdown-menu" aria-labelledby="mode">
                <button class="dropdown-item">SAP</button>
                <button class="dropdown-item">Non-SAP</button>
                <button class="dropdown-item">Both</button>
            </div>*@
    </div>
    @*<div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>*@
    @*<div class="col-lg-3">
            <div class="md-form">
                <i class="fas fa-map-marker-alt prefix grey-text" aria-hidden="true"></i>
                <input type="text" id="Owner" class="form-control" value="@Model.Owner" onchange="clearError('OwnerErr')" readonly>
                <label for="Owner" class="active">Owner</label>
                <small id="OwnerErr" style="display:none;"></small>
            </div>
        </div>*@
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="md-form">
            <i class="fas fa-location-arrow prefix grey-text"></i>
            <input type="text" id="KioskAddress" class="form-control" value="@Model.KioskAddress" onchange="clearError('KioskAddressErr')">
            <label for="KioskAddress" class="active">Kiosk Address</label>
            <small id="KioskAddress" style="display:none;"></small>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-primary" id="btnEditSite">Save</button>
</div>
-->


<script type="text/javascript">
    $("#btnEditSite").click(function () {
        debugger;
        var hiddenSiteId = $("#hiddenSiteId").val();
        var SiteID = $("#siteID").val();
        var MachineID = $("#machineId").val();
        var Mode = $('#mode').val();
        var SerialNo = $("#serialNo").val();
        var City = $("#city").val();
        var Distt = $("#distt").val();
        var KioskAddress = $("#kioskAddress").val();
        var LiveDate = $("#liveDate").val();

        if (SiteID == "") {
            $("#siteIDErr").text("Please Enter Site Id!!!");
            $("#siteIDErr").css("display", "block");
            $("#siteIDErr").css("color", "red");
            return;
        }
        else if (MachineID == "") {
            $("#machineIdErr").text("Please Enter Kiosk Id !!!");
            $("#machineIdErr").css("display", "block");
            $("#machineIdErr").css("color", "red");
            return;
        }
        else if (SerialNo == "") {
            $("#serialNoErr").text("Please Enter Serial Number !!!");
            $("#serialNoErr").css("display", "block");
            $("#serialNoErr").css("color", "red");
            return;
        }
        else if (City == "") {
            $("#locationErr").text("Please Enter Location !!!");
            $("#locationErr").css("display", "block");
            $("#locationErr").css("color", "red");
            return;
        }
        else if (Distt == "") {
            $("#divisionErr").text("Please Division !!!");
            $("#divisionErr").css("display", "block");
            $("#divisionErr").css("color", "red");
            return;
        }
        else if (KioskAddress == "") {
            $("#KioskAddress").text("Please Enter Address!!!");
            $("#KioskAddress").css("display", "block");
            $("#KioskAddress").css("color", "red");
            return;
        }
        else if (Mode != "SAP" && Mode != "Non-SAP" && Mode != "Both") {
            $("#mode").text("Please Enter correct mode!!!");
            $("#mode").css("display", "block");
            $("#mode").css("color", "red");
        }
        else {
            var loader = $('#divProLoader');
            $("#btnEditSite").prop("disabled", true);
            loader.show();

            var data = {
                ID: hiddenSiteId,
                SiteID: SiteID,
                MachineID: MachineID,
                Mode: Mode,
                Distt: Distt,
                City: City,
                KioskAddress: KioskAddress,
                SerialNo: SerialNo,
                LiveDate: LiveDate
            };

            $.ajax({
                url: BASE_URL + "/Admin/Admin/EditSiteDetail",
                type: "POST",
                data: data,
                success: function (response) {
                    debugger
                    loader.hide();
                    if (response.IsSuccess) {
                        swal({
                            title: "Thanks !",
                            text: response.Message,
                            type: "success"
                        }).then(result => {
                            if (result.value) {
                                window.location = BASE_URL + "/Admin/Admin/SiteList";
                            }
                        });
                    }
                    else {
                        swal({
                            title: "Warning !",
                            text: response.Message,
                            type: "error"
                        });
                        $("#btnEditSite").prop("disabled", false);
                    }
                },
                failure: function (response) {
                    debugger
                    loader.hide();
                    $("#btnEditSite").prop("disabled", false);
                    console.log(response);
                }
            });
        }
    });

    function clearError(errIdName) {
        $('#' + errIdName).text(" ");
        $('#' + errIdName).css("display", "none");
    }
</script>

