﻿@model PSPCL_Web_Module.InfraStructure.EF.Entity.ApplicationUser

<input type="hidden" value="@Model.Id" id="hiddenUserId" />
<div class="row">
    <div class="col-md-12">
        <form class="">
            <div class="position-relative form-group">
                <label for="username" class="">Username <small>(for Login) *</small></label>
                <input name="username" id="username" value="@Model.UserName" disabled />
                <small id="usernameErr" style="display:none;padding-left: 40px;"></small>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-4">
        <div class="md-form">
            @*<i class="fas fa-user-tie prefix grey-text" aria-hidden="true"></i>*@
            <label for="name" class="active">Name</label>
            <input type="text" id="name" class="form-control" value="@Model.Name" onchange="clearError('nameErr')">
            <small id="nameErr" style="display:none;padding-left: 40px;"></small>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="md-form">
            @*<i class="fas fa-at prefix grey-text" aria-hidden="true"></i>*@
            <label for="email" class="active">Email</label>
            <input type="text" id="email" class="form-control" value="@Model.Email" onchange="clearError('emailErr')">
            <small id="emailErr" style="display:none;padding-left: 40px;"></small>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="md-form">
            @*<i class="fas fa-mobile-alt prefix grey-text" aria-hidden="true"></i>*@
            <label for="phone" class="active">Phone</label>
            <input type="text" id="phone" class="form-control" maxlength="10" value="@Model.PhoneNumber" onchange="clearError('phoneErr')">
            <small id="phoneErr" style="display:none;padding-left: 40px;"></small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="md-form">
            @*<i class="fas fa-map-marker-alt prefix grey-text"></i>*@
            <label for="location" class="active">Location</label>
            <input type="text" id="location" class="form-control" value="@Model.Location" onchange="clearError('locationErr')">
            <small id="locationErr" style="display:none;padding-left: 40px;"></small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="text-center mt-4">
            <button type="button" class="btn btn-success waves-effect waves-light btn-lg" id="btnUpdateUser">Update User Profile</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#btnUpdateUser").click(function () {

        var hiddenUserId = $("#hiddenUserId").val();
        var username = $("#username").val();
        var name = $("#name").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var location = $("#location").val();


        if (username == "") {
            $("#usernameErr").text("Please Enter Username for Login !!!");
            $("#usernameErr").css("display", "block");
            $("#usernameErr").css("color", "red");
            return;
        }
        else if (name == "") {
            $("#nameErr").text("Please Enter Name !!!");
            $("#nameErr").css("display", "block");
            $("#nameErr").css("color", "red");
            return;
        }
        else if (email == "") {
            $("#emailErr").text("Please Enter Email Id !!!");
            $("#emailErr").css("display", "block");
            $("#emailErr").css("color", "red");
            return;
        }
        else if (phone == "") {
            $("#phoneErr").text("Please Enter Phone Number !!!");
            $("#phoneErr").css("display", "block");
            $("#phoneErr").css("color", "red");
            return;
        }
        else if (location == "") {
            $("#locationErr").text("Please Enter Location !!!");
            $("#locationErr").css("display", "block");
            $("#locationErr").css("color", "red");
            return;
        }
        else {
            var loader = $('#divProLoader');
            $("#btnAddUser").prop("disabled", true);
            loader.show();

            var data = {
                Id: hiddenUserId,
                Username: username,
                Name: name,
                Email: email,
                Phone: phone,
                Location: location
            };

            $.ajax({
                url: BASE_URL + "/Admin/Admin/UpdateUserDetail",
                type: "POST",
                data: data,
                success: function (response) {
                    loader.hide();
                    if (response.IsSuccess) {
                        swal({
                            title: "Thanks !",
                            text: response.Message,
                            type: "success"
                        }).then(result => {
                            if (result.value) {
                                window.location = window.location.href;
                            }
                        });
                    }
                    else {
                        swal({
                            title: "Warning !",
                            text: response.Message,
                            type: "error"
                        });
                        $("#btnUpdateUser").prop("disabled", false);
                    }
                },
                failure: function (response) {
                    loader.hide();
                    $("#btnUpdateUser").prop("disabled", false);
                    console.log(response);
                }
            });
        }
    });
</script>

